 {{ range where .Site.RegularPages "Section" "ratings" | after 1 | first 1}}
 <div class="threeBlogGrid">
  <!-- IMAGE SVG TEXT ELEMENT -->
  <span class="badge badge-brand">Featured</span>
  <div class="blockImageTextSvg">
    <div class="blockImageSvgSize blockImageSvgID-3" style="background-image: url('/images/posts/spinner ({{.Params.id }}).jpg')">
    </div>
    <div class="blockImageSvgWrapID-White">
    
     <h2><A href="{{ .RelPermalink }}">{{ .Title }}</A></h2>
     <p class="d-sm-none d-md-block">Find out why {{ .Title | safeHTML | truncate 120 }} might be your dream study abroad destination. Located in this beautiful country, let you studies take flight as you have the intercultural...</p>
   </div>
 </div>
 <!-- IMAGE END -->
</div>
{{ end }}
