 <div class="">
   <div class="row hpFeature">
    <div class="col-lg-6 aos-item" data-aos="fade-down">
      <!-- IMAGE SVG TEXT ELEMENT -->
      <div class="blockImageTextSvg">
        <div class="blockImageSvgSize blockImageSvgID-1"></div>
        <div class="blockImageSvgWrapID-White">
          <h4>SEO Backlink Booster</h4>
          <p>Create loads of quality content and give your site more chances at gaining crucial backlinks.</p>
          <p><a href="" class="btn btn-outline-dark btn-lg">Learn More</a></p>
        </div>
      </div>
      <!-- IMAGE END -->    
    </div>
    <div class="col-lg-6 aos-item paddingFeatureTextLeft" data-aos="fade-up">
      <img src="/images/brandIcon.svg" class="brandIcon" />
      <span class="iconTitle">SPEED</span>
      <br /><br />
      <h3 class="featureHeader">Turbocharge Content Production</h3>
      <p>Take the time, <a href="">cost and stress</a> out of content creation, while supercharging your digital strategy.<br />Create engaging content, <i>more often</i>, with <strong>less effort</strong>.
      </p>
      <div class="row">
        <div class="col-sm-6">
          <ul>
            <li>Express Production</li>
            <li>Engaging Language</li>
            <li>High Conversion</li>
            <li>Create Custom Snippets</li>
            <li>CMS Friendly Output</li>
          </ul>
        </div>
        <div class="col-sm-6">
         <ul>
          <li>Oraganised Collections</li>
          <li>Customisation Editor</li>
          <li>Create On Your Phone</li>
          <li>SEO Ready Content</li>
          <li>Paragraph Prompters</li>
        </ul>
      </div>
    </div>
    <hr />
    <p><a class="btn btn-outline-primary btn-lg" href="/product/features/">Explore all features</a></p>
  </div>
</div>
</div>