 <div class="">
   <div class="row hpFeature">
     <div class="col-lg-6 aos-item" data-aos="fade-up">
       <img src="/images/brandIcon.svg" class="brandIcon" /> 
       <span class="iconTitle">LOYALTY</span>
       <br /><br />
       <h3 class="featureHeader">Spark Web Traffic</h3>
       <p class="introPara">Take the time, <a href="">cost and stress</a> out of content creation, while supercharging your digital strategy with all the content you will ever need.<br />Create engaging content, <i>more often</i>, with <strong>less effort</strong>.
       </p>
       <div class="row">
        <div class="col-sm-6">
          <ul>
            <li>Blog Posts</li>
            <li>News Articles</li>
            <li>Product Descriptions</li>
            <li>Case Studies</li>
          </ul>
        </div>
        <div class="col-sm-6">
         <ul>
           <li>Reviews</li>
           <li>Guides</li>`
           <li>How To's</li>
           <li>...and many more!</li>
         </ul> 
       </div>
     </div>
     <hr />
     <p><a class="btn btn-lg btn-outline-primary" href="/product/content-types/">Which content does it produce?</a></p>
   </div>
   <div class="col-lg-6 aos-item" data-aos="fade-down">
    <!-- IMAGE SVG TEXT ELEMENT -->
    <div class="blockImageTextSvg">
      <div class="blockImageSvgSize blockImageSvgID-2" style="background-image: url('/images/place8.jpg');"></div>
      <div class="blockImageSvgWrapID-Dark">
        <h4>Create Your Own Templates</h4>
        <p>Make your own template structures to save time every time you create similar content.</p>
        <p><a href="" class="btn btn-outline-light btn-lg">Learn More</a></p>
      </div>
    </div>
    <!-- IMAGE END -->     
  </div>
</div>
</div>