 <div class="threeBlogGrid hpSteps">
<!--
<h3 class="text-center featureHeader">Craft 1,000 word posts<br />in <em>under 7 minutes</em>? Easy.</h3><br />
<hr /><br />
-->

  <div class="row">
   <div class="col-xs-12 col-md-4 ">
    <!-- ONE COL -->
    <div class="col-sm-12 rounded-circle">
       <h2><span class="badge badge-brand">1</span> Find</h2>
       <p>Select from our ever growing list of Australian Beaches.</p>


    

 </div>
   <!-- COL END -->
 </div>


 <div class="col-xs-12 col-md-4 " style=" border-left: 0px solid #f7f7f7;" >
  
   <div class="col-sm-12" style="width: 99%; overflow: hidden; height: 125px;">
       <h2><span class="badge badge-brand">2</span> Decide</h2>
       <p>Learn everything you need to know about discovering the perfect beach.</p>


 </div>
   <!-- COL END -->
 </div>

   <div class="col-xs-12 col-md-4 " style="   border-left: 0px solid #f7f7f7;">
    <!-- ONE COL -->
    <div class="col-sm-12">
       <h2><span class="badge badge-dark">3</span> Visit</h2>
       <p>Go and visit the beach for the best days of your life!</p>

 </div>
   <!-- COL END -->

</div>
</div></div>


<style type="text/css">.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}</style>
