
<div class="row">
 <!-- COL -->  
 <div class="col-lg-3">
  <div class="card cardDefault">
    <Div class=" text-center">
     <h3><i class="fa fa-facebook"></i></h3>
     <h6>/ContentFlame</h6>
     <hr /> <Br />
     <p><a href="" class="btn btn-lg btn-brand btn-block" style="background: #3b5998; border: 0px;">Follow</a></p>
     <br />
   </div>
 </div>
</div>
<!-- COL -->
<!-- COL -->  
<div class="col-lg-3">
  <div class="card cardDefault">
    <Div class=" text-center">
      <h3><i class="fa fa-twitter"></i></h3>
      <h6>@GetContentFlame</h6>
      <hr /> <Br />
      <p><a href="" class="btn btn-lg btn-brand btn-block" style="background: #1da1f2; border: 0px;">Follow</a></p>
      <br />
    </div>
  </div>
</div>
<!-- COL -->
<!-- COL -->  
<div class="col-lg-3">
  <div class="card cardDefault">
    <Div class="text-center">
     <h3><i class="fa fa-youtube"></i></h3>
     <h6>/ContentFlame</h6>
     <hr /> <Br />
     <p><a href="" class="btn btn-lg btn-brand btn-block" style="background: #FF0000; border: 0px;">Follow</a></p>
     <br />
   </div>
 </div>
</div>
<!-- COL -->
<!-- COL -->  
<div class="col-lg-3">
  <div class="card cardDefault">
    <Div class="text-center">
      <h3><i class="fa fa-linkedin"></i></h3>
      <h6>/ContentFlame</h6>
      <hr /> <Br />
      <p><a href="" class="btn btn-lg btn-brand btn-block" style="background: #0e76a8; border: 0px;">Follow</a></p>
      <br />
    </div>
  </div>
</div>
<!-- COL -->
</div> 
