 <div class="container threeBlogGrid">
  <div class="row">
   {{ range shuffle (where .Site.RegularPages "Section" "blog" | after 6 | first 6 )}}
   <div class="col-xs-12 col-lg-4 ">
    <!-- IMAGE SVG TEXT ELEMENT -->
    <div class="col-">
    <div class="blockImageTextSvg" style="height: 480px; background: #fff;">
      <div class="blockImageSvgSize blockImageSvgID-1" style="background-image: url('{{- partial "article-image-url" . -}}')"></div>
      <div class="blockImageSvgWrapID-White">

       <h2><A href="{{ .RelPermalink }}">{{ .Title }}</A></h2>
        <p>{{ .Params.intro | safeHTML | truncate 100 }}</p>
        <p><a href="{{ .RelPermalink }}" class="brandColor">Read more...</a></p>
     </div></div>
   </div>
   <!-- IMAGE END -->
 </div>
 {{ end }}   
</div>
</div>
