<div class="aos-item aos-init aos-animate" data-aos="">
  {{ range where .Site.RegularPages "Section" "posts" | after 1 | first 5}}
  <a
    class="common-Link blogListSmallCard blogListSmallCardTop text-bold"
    href="{{ .RelPermalink }}"
    data-analytics-action="subscriptions"
    data-analytics-source="card_link"
  >
    <img
      src="/images/brandIcon.svg"
      class="brandIcon"
      width="60"
      height="60"
      alt="Brand Icon"
      loading="lazy"
    />
    <h3 class="common-UppercaseText common-Link--arrow text-bold">
      <span class="fi fi-{{ .Params.tld }} fis rounded-circle"></span> {{ .Title
      }}
    </h3>
  </a>
  {{ end }}
</div>
