 <div class="container">
   <div class="row spFeature">
    <div class="col-lg-8">
      <div class="paddingLeftBlock">
        <h3 class="brandColor">Ready to get started?</h3>
        <h4>Get your content now and explode your capacity!</h4>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="paddingLeftBlock mobileTopMargin-20">
       <button class="btn btn-primary btn-lg text-center">Start Now</button> <a href="contact" class="btn btn btn-outline-primary btn-lg text-center">Contact</a>
     </div>
   </div> 
 </div>
</div>