<div class="container">
 <div class="row spFeature text-center">
  <div class="col-sm-12">
    <div class="paddingLeftBlock">
      <h3 class="brandColor">Want exclusive access?</h3>
      <h4 style="font-weight: normal;
    font-size: 130%;">Get your invitation and see what all the fuss is about!</h4> <br><br>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="">
          <button class="btn btn-brand btn-lg" data-toggle="modal" data-target="#exampleModal" >Get Invite</button>
    </div>
   </div>
  </div>
</div>