<div class="container">
 <div class="row spFeature text-center blogAdRight stickyAd">
   <div class="col-sm-12">
    <div class="paddingLeftBlock">
      <h3 class="brandColor">Best Australian Beaches</h3>
      <h4>View the Top 100 Beaches in Australia</h4> <br>
    </div>
    <div class="col-sm-12">
      <div class="">
          <a class="btn btn-brand btn-lg" href="/rankings" >See Best Beaches in Australia</a>
      </div>
      <a class="navbar-brand" ><img src="/images/logo.png" width="130" height="50" alt="Logo" /></a>
    </div> 
  </div>
</div>
</div>