<div class="container">
  <div class="">
    <div class="row">
      <div class="col-sm-6 aos-item" data-aos="fade-up">
        <a
          class="common-Link globalCard card-subscriptions"
          href="/product/features/"
          data-analytics-action="subscriptions"
          data-analytics-source="card_link"
        >
          <img src="/images/element1.svg" loading="lazy" />
          <h3 class="common-UppercaseText common-Link--arrow">
            Explore Features
          </h3>
          <p class="common-BodyText">
            Take a tour of all the goodies that are packed inside the app. You
            will find out just how powerful it is and how you can't live without
            it!
          </p>
        </a>
      </div>
      <div class="col-sm-6 aos-item" data-aos="fade-up">
        <a
          class="common-Link globalCard card-subscriptions"
          href="/en-gb-hu/billing"
          data-analytics-action="subscriptions"
          data-analytics-source="card_link"
        >
          <img src="/images/element2.svg" loading="lazy" />
          <h3 class="common-UppercaseText common-Link--arrow">See Results</h3>
          <p class="common-BodyText">
            See how our results impact the content marketing process, and in
            particular the staggering amount of time and money is saved.
          </p>
        </a>
      </div>
    </div>
  </div>
</div>
