 

 <div class="container" style="margin-top: -70px;">
  <h5 class="text-center" style="display: block; margin: 0px auto;padding-bottom: 5px; border-bottom: 2px solid #eb2678; width: 250px;">Create For Your <strong>Website:</strong></h5>
   <div class="row ">
    <div class="col-sm-12">
      <div class="card-deck appsDeck contentTypesDeck">
        <div class="card aos-item text-center col-sm-3" data-aos="fade-in">
            <a href="/product/content-types/engaging-post/" class="contentTypeLink">
<div class="card-body">
            
           <img src="/images/icon-type5.png" class="brandIconMedium" loading="lazy" />
            <h5 class="card-title" >Engager</h5>
            <p class="card-text">The <i>captivate</i> new audience post</p>
             <span>See Example</span>

           
          </div>
        </a>

        </div>
        <div class="card aos-item text-center  col-sm-3" data-aos="fade-in">
            <a href="/product/content-types/engaging-post/" class="contentTypeLink">
<div class="card-body">
            <img src="/images/icon-type4.png" class="brandIconMedium"  loading="lazy"/>
            <h5 class="card-title">How To</h5>
            <p class="card-text">Classic <i>instruction</i> formula post</p>
             <span>See Example</span>
          </div>
        </a>
        </div>
        <div class="card aos-item text-center  col-sm-3" data-aos="fade-in">
          <a href="/product/content-types/engaging-post/" class="contentTypeLink">
            <a href="/product/content-types/engaging-post/" class="contentTypeLink">
<div class="card-body">
           <img src="/images/icon-type6.png" class="brandIconMedium" loading="lazy" />
          <h5 class="card-title">News</h5>
          <p class="card-text">Latest <i>information and updates</i> post</p>
          <span>See Example</span>
        </div>
      </a>
      </div>
      <div class="card aos-item text-center  col-sm-3" data-aos="fade-in">
        <a href="/product/content-types/engaging-post/" class="contentTypeLink">
<div class="card-body">
          <img src="/images/icon-type2.png" class="brandIconMedium" loading="lazy" />
            <h5 class="card-title">Ultimate Guide</h5>
            <p class="card-text">Comprehensive topic cover post</p>
            <span>See Example</span>
          </div>
        </a>
        </div>
        <Br /><Br />
      </div>
    </div></div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card-deck appsDeck contentTypesDeck">
          <div class="card aos-item text-center col-sm-3" data-aos="fade-in">
            <a href="/product/content-types/engaging-post/" class="contentTypeLink">
<div class="card-body">
             <img src="/images/icon-type7.png" class="brandIconMedium" />
              <h5 class="card-title">Event</h5>
              <p class="card-text">Something is happening post</p>
              <span>See Example</span>
            </div>
          </a>
          </div>
          <div class="card aos-item text-center  col-sm-3" data-aos="fade-in">
            <a href="/product/content-types/engaging-post/" class="contentTypeLink">
<div class="card-body">
              <img src="/images/icon-type.png" class="brandIconMedium" />
              <h5 class="card-title">List Post</h5>
              <p class="card-text">Convey message as items post</p>
              <span>See Example</span>
            </div>
          </a>
          </div>
          <div class="card aos-item text-center  col-sm-3" data-aos="fade-in">
            <a href="/product/content-types/engaging-post/" class="contentTypeLink">
<div class="card-body">
             <img src="/images/icon-type3.png" class="brandIconMedium" loading="lazy" />
            <h5 class="card-title">Pillar </h5>
            <p class="card-text">Broad topic overview post</p>
            <span>See Example</span>
          </div>
        </a>
        </div>
        <div class="card aos-item text-center  col-sm-3" data-aos="fade-in">
          <a href="/product/content-types/engaging-post/" class="contentTypeLink">
<div class="card-body">
            <img src="/images/icon-type8.png" class="brandIconMedium" loading="lazy" />
              <h5 class="card-title">Interview </h5>
              <p class="card-text">Question and answer post</p>
              <span>See Example</span>
            </div>
          </a>
          </div>
          <Br /><Br />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card-deck appsDeck contentTypesDeck">
               
          <div class="card aos-item text-center col-sm-3" data-aos="fade-in">
            <a href="/product/content-types/engaging-post/" class="contentTypeLink">
<div class="card-body">
               <img src="/images/icon-type11.png" class="brandIconMedium" />
              <h5 class="card-title">Case Study</h5>
              <p class="card-text">Detailed use case post</p>
             <span>See Example</span>
            </div>
          </a>
          </div>
          <div class="card aos-item text-center  col-sm-3" data-aos="fade-in">
            <a href="/product/content-types/engaging-post/" class="contentTypeLink">
<div class="card-body">
             <img src="/images/icon-type10.png" class="brandIconMedium" />
            <h5 class="card-title">Review</h5>
            <p class="card-text">Examination of something post</p>
           <span>See Example</span>
          </div>
        </a>
        </div>
        <div class="card aos-item text-center  col-sm-3" data-aos="fade-in">
          <a href="/product/content-types/engaging-post/" class="contentTypeLink">
<div class="card-body">
            <img src="/images/icon-type9.png" class="brandIconMedium" />
              <h5 class="card-title">Personal Story</h5>
              <p class="card-text">Speak from an experience</p>
             <span>See Example</span>
            </div>
          </a>
          </div>
           <div class="card aos-item text-center col-sm-3" data-aos="fade-in">
    
          </div>
          <Br /><Br />
        </div>
      </div>
    </div>
  </div>
