 

 <div class="container" style="margin-top: 50px;">
  <h5 class="text-center" style="display: block; margin: 0px auto;padding-bottom: 5px; border-bottom: 2px solid #eb2678; width: 280px;">Create For Your <strong>Social Media</strong>:</h5>
   <div class="row ">
    <div class="col-sm-12">
      <div class="card-deck appsDeck contentTypesDeck">
        <div class=" col-sm-3">
        <div class="card aos-item text-center" data-aos="fade-in">
           <a href="/product/content-types/engaging-post/" class="contentTypeLink">
<div class="card-body">
           <img src="/images/icon-type15.png" class="brandIconMedium" loading="lazy" />
            <h5 class="card-title" >YouTube Description</h5>
            <p class="card-text">YouTube post text</p>
<span>See Example</span>
            </div>
          </a>        
        </div></div>
        <div class=" col-sm-3">
        <div class="card aos-item text-center" data-aos="fade-in">
           <a href="/product/content-types/engaging-post/" class="contentTypeLink">
<div class="card-body">
            <img src="/images/icon-type16.png" class="brandIconMedium" loading="lazy" />
            <h5 class="card-title">Twitter Posts</h5>
            <p class="card-text">Twitter post text</p>
           <span>See Example</span>
            </div>
          </a>
        </div></div>
        <div class=" col-sm-3">
        <div class="card aos-item text-center" data-aos="fade-in">
           <a href="/product/content-types/engaging-post/" class="contentTypeLink">
<div class="card-body">
           <img src="/images/icon-type14.png" class="brandIconMedium" loading="lazy" />
          <h5 class="card-title">Facebook Posts</h5>
          <p class="card-text">Facebook post text</p>
         <span>See Example</span>
            </div></div>
          </a>
      </div>

    
        <Br /><Br />
      </div>
    </div>
  </div>