
<div class="module">
  <div class="">
        <div class="collapse" id="collapseExample" aria-expanded="false">
          {{ range where .Pages "Section" "review"  }}
   {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
   

    <a class="btn btn-dark mb-1" href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}">{{ title (replace $name "-" " " | strings.FirstUpper)  }}</a>

  {{ end }}{{ end }} 

</div>
<a role="button" id="theShowMoreButton" class="collapsed" data-toggle="collapse" href="#collapseExample" 
         aria-expanded="false" aria-controls="collapseExample"></a>
     </div>
</div>