<div class="container-fluid footerContainer">
  <div class="container">
    <div class="row">
     <div class="col-sm-3 aos-item footerBlock" data-aos="fade-in">
      <h5>Learn more</h5>
      <ul>
        <li>Link</li>
        <li>Link</li>
        <li>Link</li>
        <li>Link</li>
        <li>Link</li>
        <li>Link</li>
      </ul>
    </div>
    <div class="col-sm-3 aos-item footerBlock" data-aos="fade-in">
      <h5>Help and Support</h5>
      <ul>
        <li>Link</li>
        <li>Link</li>
        <li>Link</li>
        <li>Link</li>
        <li>Link</li>
        <li>Link</li>
      </ul>
    </div>
    <div class="col-sm-3 aos-item footerBlock" data-aos="fade-in">
      <h5>Our Story</h5>
      <ul>
        <li>Link</li>
        <li>Link</li>
        <li>Link</li>
        <li>Link</li>
        <li>Link</li>
        <li>Link</li>
        <li>Link</li>
        <li>Link</li>
      </ul>
    </div>
    <div class="col-sm-3 aos-item footerBlock" data-aos="fade-in">
      <h5>Our Story</h5>
      <ul>
        <li>Link</li>
        <li>Link</li>
        <li>Link</li>
        <li>Link</li>
        <li>Link</li>
        <li>Link</li>
        <li>Link</li>
        <li>Link</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      {{ if .Site.Params.copyrighthtml }}
      <p>{{.Site.Params.CopyrightHTML | safeHTML}}</p>
      {{ end }}
    </div>  
  </div>
  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.slim.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/dist/aos.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
