<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
 <meta charset="utf-8">
 <title>{{ .Title }} - {{ .Site.Title }}</title>
 <meta name="description" content="">
 <meta name="author" content="">
 <link rel="canonical" href="{{ .Permalink }}">
 <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css" type="text/css" />
 <link rel="stylesheet" href="/css/main.css" type="text/css" />
 <link rel="stylesheet" href="/dist/aos.css" />
</head>
<body>
 