

  <!-- Page Content -->
  <div class="container-fluid bg-light">
  <div class="container">
    <div class="jumbotron">
      
      <div class="row">
       <div class="col-sm-4">
 <h4 class="pt-3">Trending</h4>

   {{ $counter := 0 }}
{{ range (.Site.Pages.GroupByParam "noteable").Reverse  }}
   {{ range last 10 .Pages | shuffle}}

 <!-- IMAGE SVG TEXT ELEMENT -->
        <div class="container"> <div class="row">
          <div class="threeBlogGrid taxonomyList " style="margin-bottom: 1px;">
            <!-- IMAGE SVG TEXT ELEMENT -->
            <div class="blockImageTextSvg taxonomyListTabledLessMargin">
              <div class="blockImageSvgWrapID-hite taxonomyListTabled">
                <div class="row">
                  <div class="col-10 col-sm-9" style="padding-top: 7px;">
                    <h6><A href="{{ .RelPermalink }}">{{ .Title }}</A></h6>
                  </div>
                </div> </div>
                </div>  </div>  </div>  </div>  

   {{ end }}
{{ end }}
</div>


       <div class="col-sm-4">
 <h4 class="pt-3">SC Royalty</h4>
   {{ $counter := 0 }}
{{ range (.Site.Pages.GroupByParam "royalty").Reverse  }}
   {{ range first 10 .Pages | shuffle}}

 <!-- IMAGE SVG TEXT ELEMENT -->
        <div class="container"> <div class="row">
          <div class="threeBlogGrid taxonomyList " style="margin-bottom: 1px;">
            <!-- IMAGE SVG TEXT ELEMENT -->
            <div class="blockImageTextSvg taxonomyListTabledLessMargin">
              <div class="blockImageSvgWrapID-hite taxonomyListTabled">
                <div class="row">
                  <div class="col-10 col-sm-9" style="padding-top: 7px;">
                    <h6><A href="{{ .RelPermalink }}">{{ .Title }}</A></h6>
                  </div>
                </div> </div>
                </div>  </div>  </div>  </div>  

   {{ end }}
{{ end }}
</div>


       <div class="col-sm-4">
 <h4 class="pt-3">Cash Cows</h4>
   {{ $counter := 0 }}
{{ range (.Site.Pages.GroupByParam "drafted").Reverse  }}
   {{ range first 10 .Pages | shuffle }}

 <!-- IMAGE SVG TEXT ELEMENT -->
        <div class="container"> <div class="row">
          <div class="threeBlogGrid taxonomyList " style="margin-bottom: 1px;">
            <!-- IMAGE SVG TEXT ELEMENT -->
            <div class="blockImageTextSvg taxonomyListTabledLessMargin">
              <div class="blockImageSvgWrapID-hite taxonomyListTabled">
                <div class="row">
                  <div class="col-10 col-sm-9" style="padding-top: 7px;">
                    <h6><A href="{{ .RelPermalink }}">{{ .Title }}</A></h6>
                  </div>
                </div> </div>
                </div>  </div>  </div>  </div>  

   {{ end }}
{{ end }}
</div>




</div>

{{- partial "ad-1140x200.html" . -}}
   </div>
</div></div>
</div>

