<div class="row pt-0 pb-5 d-none">
  <div class="col-12">
    <h4 class="mb-4">Explore Brands</h4>
    {{- partial "explore-categories.html" . -}}
  </div>
</div>

<div class="row mt-0">
  <div class="col-xs-12 col-lg-4">{{- partial "accord-nav" . -}}</div>
  <div class="col-xs-12 col-lg-8 offset-lg-0">
    <div class="articleContent mt-0">
      <h3 class="articleHeader">Review 1,000+ Caravans</h3>
      <hr />

      <p>
        {{ $postCount := len .Site.Pages }}<strong>{{ $postCount }}</strong>
        results
      </p>
      <div class="row">
        {{ range where .Site.RegularPages "Section" "review" | first 10 }} {{-
        partial "listing-template-horiz.html" . -}} {{ end }}
      </div>
    </div>
  </div>

  <h4 class="mt-1">Most Viewed</h4>

  {{ range where .Site.RegularPages "Section" "review" | first 6 }} {{- partial
  "listing-top-5-title.html" . -}} {{ end }}

  <h4 class="mt-1">Top Spots</h4>

  {{ range where .Site.RegularPages "Section" "caravan-parks" | shuffle | first
  3 }} {{- partial "listing-park-template.html" . -}} {{ end }}
</div>
