

<div class="row pt-0 pb-5">
<div class="col-12">
<h4 class="mb-4">Explore Brands</h4>



<div class="module">
	<div class="">
        <div class="collapse" id="collapseExample" aria-expanded="false">

   {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
   {{ range where .Pages "Section" "review"  }}

    <a class="btn btn-dark mb-1" href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}">{{ title (replace $name "-" " " | strings.FirstUpper)  }}</a>
  <a class="btn btn-xs btn-dark mb-1">Some cunt</a> <a class="btn btn-xs btn-dark mb-1">Some cunt</a> <a class="btn btn-xs btn-dark mb-1">Some cunt</a> <a class="btn btn-xs btn-dark mb-1">Some cunt</a> <a class="btn btn-xs btn-dark mb-1">Some cunt</a> <a class="btn btn-xs btn-dark mb-1">Some cunt</a> <a class="btn btn-xs btn-dark mb-1">Some cunt</a> 
  {{ end }}{{ end }}

</div>
<a role="button" id="theShowMoreButton" class="collapsed" data-toggle="collapse" href="#collapseExample" 
         aria-expanded="false" aria-controls="collapseExample"></a>
     </div>
</div>



  
 

</div>

</div>

<div class="row hpTickBoxes mt-0">

<div class="col-xs-12 col-lg-4">




		<h4 class="mt-4">Top Spots</h4>

 {{ range where .Site.RegularPages "Section" "caravan-parks" | shuffle | first 3 }}
{{- partial "listing-park-template.html" . -}}
{{ end }}
 

	<h4 class="mt-4">Most Viewed</h4>
{{ range where .Site.RegularPages "Section" "review" | first 6 }}
{{- partial "listing-top-5-title.html" . -}}
{{ end }}

</div>


<div class="col-xs-12 col-lg-7 offset-lg-1">
	<h4 class="mt-4">Featured</h4>
  <div class="row">

 {{ range where .Site.RegularPages "Section" "review" }}
<div class="col-xs-12 col-lg-6 mb-4">   
{{- partial "listing-template.html" . -}}
</div>
{{ end }}
</div></div>





<!--
<h4 class="mt-4">Promoted Gear</h4>
 {{ range where .Site.Pages "Params.hotseller" "yes" | shuffle | first 1 }}
{{- partial "product-template.html" . -}}
{{ end }}
-->
