<div class="listingBlock mb-4">
  <div class="row p-2">
    <div class="col-sm-12">
      <h4 class="listingTitle">
        <a href="{{ .RelPermalink }}"
          >{{ range .Params.categories }}{{ . }}{{end}} {{ .Title }}</a
        >
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="">
      <a href="{{ .RelPermalink }}">
        <img src="/images/caravans/{{ .Params.id }}.jpg" class="img-fluid"
      /></a>
           <div class="card-body">
                        <p class="card-text">{{ range .Params.tags }}<span class="badge badge-small text-dark badge-light" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">- {{ title (replace . "-" " " | strings.FirstUpper)  }}</a></span>{{end}}</p>
                    </div>
    </div>
  </div>
</div>
