

        <div class="container"> <div class="row">
          <div class="threeBlogGrid taxonomyList " style="margin-bottom: 10px;">
            <!-- IMAGE SVG TEXT ELEMENT -->
            <div class="blockImageTextSvg taxonomyListTabledLessMargin">
              <div class="blockImageSvgWrapID-hite taxonomyListTabled">
                <div class="row">
                  <div class="col-10 col-sm-9" style="padding-top: 15px;">
                    <h6 style="color: #999;"><A href="{{ .RelPermalink }}"><span class="fi fi-{{ .Params.tld }} fis rounded-circle"></span> {{ .Title }}</A>
                  </h6>
                  </div></div></div></div></div></div></div>  

