

<div class="card full-width mb-5 listingCard {{if eq .Params.featured "feat" }}featuredBorder{{else}}{{end}}" style="width: 100%; box-shadow: 0px 0px 10px #ddd;">
    <div class="card-header text-dark"><strong>{{ range .Params.categories }}{{ . }}{{end}}</strong> {{if eq .Params.featured "feat" }}<span class="float-right">Featured</span>{{else}}{{end}}  </div>
            <div class="row">
                <div class="col-sm-6">
                    
             

				{{if eq .Params.noimage "r" }}
				<img class="card-img" src="/images/caravans/listPlace.jpg" alt="{{ .Title }} Picture" loading="lazy">
				{{else}}
		
                <img src="/images/caravans-400x300/{{ .Params.id }}.jpg" class="card-img" alt="{{ .Title }} Picture" loading="lazy" />
				
					
				{{ end }}


    
                </div>
                <div class="col-sm-6">
                    <div class="card-body">
                         <div class="listingTitle"><A href="{{ .RelPermalink }}"><Strong style="font-size: 130%;">{{ .Title }}</Strong></A></div>
                         <h5 class="mt-4"> {{if eq .Params.price "Contact Seller" }}
                            <Strong>Price on request</Strong>
                            {{else}}
                            Approx: <strong>${{int .Params.price | lang 0 }}</strong>
                            {{end}}</h5>  
                        <p class="card-text">{{ range .Params.tags }}<span class="badge badge-small text-dark badge-light" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">- {{ title (replace . "" "" | strings.FirstUpper)  }}</a></span>{{end}}</p>
                          
                    </div>
                </div><small><a href="{{ .RelPermalink }}" class="stretched-link text-center text-small text-muted"></a></small>
            </div>
        </div>
    

