        <div class="container"> <div class="row">
          <div class="threeBlogGrid taxonomyList " style="margin-bottom: 1px;">
            <!-- IMAGE SVG TEXT ELEMENT -->
            <div class="blockImageTextSvg taxonomyListTabledLessMargin">
              <div class="blockImageSvgWrapID-hite taxonomyListTabled">
                <div class="row">
                  <div class="col-10 col-sm-9" style="padding-top: 7px;">
                    <h6><A href="{{ .RelPermalink }}">{{ .Title }}</A></h6>
                  </div>
                </div> </div>
                </div>  </div>  </div>  </div> 