
 <div class="container-fluid bg-brand">
  <div class="container pt-3">

{{- partial "search-form-autofocus.html" . -}}

   
  </div>

<div class="clearfix"></div>
<!--<div class="text-center">
<div class="googleAdsenseLargeTop"></div>
</div>-->
</div>
</div>



 <!-- SUBNAV 
 <div class="container-fluid bgWhite">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
       {{ $currentPage := . }}
       <ul class="nav justify-content-end subNav">
        {{ range $key, $value := .Site.Taxonomies.categories }}
        <li class="nav-item"><a class="nav-link" href="/categories/{{ $key | urlize  }}/">{{ $key | humanize }} ({{ len $value }})</a></li>
        {{ end }}
      </ul>
      </div>
    </div>
  </div>
</div>
<!-- SUBNAV -->