
 <div class="container-fluid blogNavFluid d-none">
  <div class="container mobileNoPad">
<nav class="navbar navbar-expand-lg navbar-light subnavbar">
  <button class="navbar-toggler navbar-toggler-right theTogglerSub" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    Filter By: &nbsp; <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
</svg>
  </button>
 

  <div class="collapse navbar-collapse" id="navbarNav">
   {{ $currentPage := . }}
       <ul class="navbar-nav nav subNav">
 
        <li class="text-white pr-3 pt-2">Popular:</li>
          
              {{ $getstarted := site.GetPage "/tags/" }}
        {{ with $getstarted }}
        {{ range .Pages }}
              <li class="nav-item d-none"><a href="/tags/{{ .Slug }}/" class="btn btn-sm btn-outline-light ml-2 mt-2">{{ .Title }}</a> </li>
        {{ end }}
        {{ end }}
     
      </ul>
      </div>


    </div>
  </div>




 <!-- SUBNAV 
 <div class="container-fluid bgWhite">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
       {{ $currentPage := . }}
       <ul class="nav justify-content-end subNav">
        {{ range $key, $value := .Site.Taxonomies.categories }}
        <li class="nav-item"><a class="nav-link" href="/categories/{{ $key | urlize  }}/">{{ $key | humanize }} ({{ len $value }})</a></li>
        {{ end }}
      </ul>
      </div>
    </div>
  </div>
</div>
<!-- SUBNAV -->