 <div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="horizBanner">
        <div class="horizBannerPhoto horizBannerPhoto-1"></div>
        <div class="">
          <div class="row start-xs">
            <div class="col-xs-12 col-sm-6">
              <blockquote class="horizBannerContent horizBannerPink">
                <h2>Ever Growing List</h2>
                <p>We are constantly adding new content types to our library, giving you more choice for you content marketing campaigns. <br /><br /><strong style="font-size: 16pt;">The above are currently all available!</strong>   </p>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div> 
</div>
