<script>
window.store = {
    // You can specify your blog section only:
    {{ range where .Site.Pages "Section" "review" }}
    "{{ .Permalink }}": {"title": "{{ .Title  }}","url": "{{ .Permalink }}"},
    {{ end }}
    {{ range where .Site.Pages "Section" "posts" }}
    "{{ .Permalink }}": {"title": "{{ .Title  }}","url": "{{ .Permalink }}"},
    {{ end }}
}
</script>
<!-- Include Lunr and code for your search function,
which you'll write in the next section -->
<script src="/js/lunr.js"></script>
<script src="/js/search.js"></script>