<div class="shapes">
<div id="shapeZero" class="css-shapes-preview-grey aos-item" data-aos="fade-left"></div>
<div id="shapeOne" class="css-shapes-preview aos-item" data-aos="fade-left"></div>
<div id="shapeTwo" class="css-shapes-preview-grey aos-item" data-aos="fade-left"></div>
<div id="shapeThree" class="css-shapes-preview aos-item" data-aos="fade-right"></div>
<div id="shapeFour" class="css-shapes-preview-grey aos-item" data-aos="fade-right"></div>
<div id="shapeFive" class="css-shapes-preview aos-item" data-aos="fade-right"></div>
<div id="shapeSix" class="css-shapes-preview-grey aos-item" data-aos="fade-right"></div>
</div>