{{ define "main" }}

<div id="theHomePage">
 {{- partial "navCategories.html" . -}}
</div>


 <div class="container mt-5">
{{- partial "hp-tickboxes.html" . -}}
</div>


<div class="alert alert-primary full-width img-fluid mt-5 mb-5 p-5">
<h3>Looking for XXXXXXX?</h3>
<h6>dfj sdafjkds ajfklds jfkldjs kfljdsaklj fkladsjfkla dslkfjkldsa;fl dsaf</h6>
<a class="btn btn-sm btn-primary">Click here</a>
</div>




{{- partial "3-col-blog-thumb.html" . -}}




</div></div>
</div>

</div>	



 </div></div>



</div>
 {{ end }}
 