 {{ define "main" }}
 {{- partial "navAbout.html" . -}}
 <div class="bgImageElementWhite">
 </div>
 <div class="clearfix"></div>
 <div class="container subTopMarginHeader">
 	<div class="spFeature articleContent">
 		<h2 class="articleHeader text-center">{{ .Title }}</h2>
 	</div>
 	{{ if eq .Title "Subscribe" }}
 	{{- partial "callout-text-subscribe.html" . -}}
 	{{ else if eq .Title "Social Media" }}
 	{{- partial "4-col-social-media.html" . -}}
 	{{- partial "callout-text-buttons-vertical.html" . -}}
 	{{ else if eq .Title "Contact" }}
 	<div class="container">
 		<div class="row">
 			<div class="col-sm-12">
 				<div class="card card cardDefault">
 					 		<div class="row">
 			<div class="col-sm-6">
 					<h2>Tell us!</h2>
 					<hr />
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
<script>
  hbspt.forms.create({
	portalId: "6801738",
	formId: "bf87f7c9-585e-41e8-8255-52487c007f9e"
});
</script>
</div>
<div class="col-sm-5 offset-sm-">
<img src="/images/graphic3.png" style="opacity: 0.5;" />

</div>

</div></div>
</div></div></div>
 	{{- partial "callout-text-subscribe.html" . -}}

 	{{ else }}
 	{{- partial "2-col-image-text.html" . -}}
 	{{ end }}
 </div>
{{ end }}

