 {{ define "main" }}
 {{- partial "navCategories.html" . -}}
 {{- partial "navFilter.html" . -}}

 <div class="clearfix"></div>
 <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="articleContent">
                <h2 class="articleHeader taxonomyHeader">Featured By Options</h2>
                <hr />

                {{ .Content }}

<div class="row mb-5 pb-5">


<div class="col-12 col-lg-4">
<h5 class="text-bold text-center">Sleeps 2</h5>
 {{ range where .Site.Pages "Params.sleeps" "2" }}
{{- partial "listing-template.html" . -}}
{{ end }}
{{ range where .Site.RegularPages "Section" "review" | first 6 }}
{{- partial "listing-template-text.html" . -}}
{{ end }}
<div class="full-width text-center">
<a href="/best-caravans/sleeps-2" class="btn btn-sm btn-brand pl-4 pr-4 mt-2 tex">See all</a>
</div>        
</div>


 <div class="col-12 col-lg-4">
<h5 class="text-bold text-center">Sleeps 4</h5>
 {{ range where .Site.Pages "Params.sleeps" "4" | shuffle | first 1 }}
{{- partial "listing-template.html" . -}}
{{ end }}

{{ range where .Site.RegularPages "Section" "review" | first 6 }}
{{- partial "listing-template-text.html" . -}}
{{ end }}
<div class="full-width text-center">
<a href="/best-caravans/sleeps-4" class="btn btn-sm btn-brand pl-4 pr-4 mt-2 tex">See all</a>
</div>
</div>


 <div class="col-12 col-lg-4">
<h5 class="text-bold text-center">Sleeps 6</h5>
 {{ range where .Site.Pages "Params.sleeps" "6" | shuffle | first 1 }}
{{- partial "listing-template.html" . -}}
{{ end }}

{{ range where .Site.RegularPages "Section" "review" | first 6 }}
{{- partial "listing-template-text.html" . -}}
{{ end }}
<div class="full-width text-center">
<a href="/best-caravans/sleeps-6" class="btn btn-sm btn-brand pl-4 pr-4 mt-2 tex">See all</a>
</div>
</div>


</div>


<div class="row mb-5 pb-5">


<div class="col-12 col-lg-4">
<h5 class="text-bold text-center">Sleeps 2</h5>
 {{ range where .Site.Pages "Params.sleeps" "2" }}
{{- partial "listing-template.html" . -}}
{{ end }}
{{ range where .Site.RegularPages "Section" "review" | first 6 }}
{{- partial "listing-template-text.html" . -}}
{{ end }}
<div class="full-width text-center">
<a href="best-caravans/sleeps-2" class="btn btn-sm btn-brand pl-4 pr-4 mt-2 tex">See all</a>
</div>        
</div>


 <div class="col-12 col-lg-4">
<h5 class="text-bold text-center">Sleeps 4</h5>
 {{ range where .Site.Pages "Params.sleeps" "4" | shuffle | first 1 }}
{{- partial "listing-template.html" . -}}
{{ end }}

{{ range where .Site.RegularPages "Section" "review" | first 6 }}
{{- partial "listing-template-text.html" . -}}
{{ end }}
<div class="full-width text-center">
<a href="sleeps-4" class="btn btn-sm btn-brand pl-4 pr-4 mt-2 tex">See all</a>
</div>
</div>


 <div class="col-12 col-lg-4">
<h5 class="text-bold text-center">Sleeps 6</h5>
 {{ range where .Site.Pages "Params.sleeps" "6" | shuffle | first 1 }}
{{- partial "listing-template.html" . -}}
{{ end }}

{{ range where .Site.RegularPages "Section" "review" | first 6 }}
{{- partial "listing-template-text.html" . -}}
{{ end }}
<div class="full-width text-center">
<a href="best-caravans/sleeps-6" class="btn btn-sm btn-brand pl-4 pr-4 mt-2 tex">See all</a>
</div>
</div>


</div>




            </div></div></div></div></div></div>

   




    {{ end }}
         








































































