 {{ define "main" }}
 {{- partial "navProduct.html" . -}}
 <div class="bgImageElementWhite">
 </div>
 <div class="clearfix"></div>
 <div class="container subTopMarginHeader">
 	<div class="row">
 		<div class="col-sm-8">
 			<div class="spFeature articleContent">
 				<h2 class="articleHeader">{{ .Title }}</h2>
 				<p class="introPara">{{ .Params.definePost | safeHTML }}</p>
 				<hr />
 				{{ .Content }}
 			</div>
 		</div>
 		<div class="col-sm-4 articleRight">
 			<div class="contentTypeRight">
 				<h5>Features</h5>
 				{{- partial "features-rightnav.html" . -}}
 			</div>
 			<div id="sticky" class="d-none d-sm-block">
 						{{- partial "callout-text-blog-right-sticky" . -}}
 			</div>
 		</div>
 	</div>
 </div>	
{{- partial "callout-text-subscribe.html" . -}}
{{ end }}
