 {{ define "main" }}
 {{- partial "navProduct.html" . -}}
 <div class="bgImageElementWhite">
 </div>
 <div class="clearfix"></div>
 
 <div class="container subTopMarginHeader">
 	<div class="row">
 		<div class="col-sm-8">
 			<div class="spFeature articleContent">
 				<h2 class="articleHeader">{{ .Title }}</h2>
 				<p class="introPara">{{ .Params.definePost | safeHTML }}</p>
 				<hr />
 				{{ .Content }}
 			</div>
 		</div>
 		<div class="col-sm-4 articleRight">
 			<div class="contentTypeRight">
 				<h5>Customers</h5>
 				{{- partial "trusted-by-rightnav.html" . -}}
 			</div>
 			{{- partial "callout-text-blog-right-sticky.html" . -}}
 		</div>
 	</div>
 </div>	
{{- partial "callout-text-buttons-vertical.html" . -}}
{{ end }}
