{{ define "main" }} {{- partial "navCategories.html" . -}} {{ if eq .Section
"tags" }}
<div class="bgImageElementWhite"></div>
<div class="clearfix"></div>
<div class="container subTopMarginHeader">
  <div class="row">
    <div class="col-lg-8">
      <div class="spFeature articleContent">
        <h2 class="articleHeader">{{ .Title }}</h2>
        <hr />

        <p>
          {{ $postCount := len .Pages }}<strong>{{ $postCount }}</strong>
          results - {{ range .Pages | first 1 }} {{ range .Params.categories
          }}<a href="/categories/{{ . | urlize }}/">
            Back to {{ . }}{{ end }}{{ end }}</a
          >
        </p>

        <div class="container">
          <div class="row">
            <div class="threeBlogGrid taxonomyList">
              {{ range .Paginator.Pages }}

              <!-- IMAGE SVG TEXT ELEMENT -->
              <div class="blockImageTextSvg">
                <div class="blockImageSvgWrapID-White">
                  <div class="row">
                    <div class="col-sm-9">
                      <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
                      <p>
                        {{ range .Params.tags }}
                        <a
                          href="/tags/{{ . | urlize }}/"
                          class="btn btn-outline-dark"
                          >#{{ . }}</a
                        >
                        {{ end }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              {{ end }} {{- partial "pagination" . -}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4" style="margin-top: 175px">
      <div class="col-sm-12">
        <div class="col-sm-12">
          {{- partial "callout-text-blog-right" . -}} {{- partial
          "blog-tags-right" . -}}
        </div>
      </div>
    </div>
  </div>
</div>
{{ else if eq .Section "categories" }}

<div class="bgImageElementWhite"></div>
<div class="clearfix"></div>
<div class="container subTopMarginHeader">
  <div class="row">
    <div class="col-lg-8">
      <div class="spFeature articleContent">
        <h2 class="articleHeader"></h2>
        <hr />
        {{ $postCount := len .Pages }}
        <p><strong>{{ $postCount }}</strong> results</p>

        <div class="container">
          <div class="row">
            <div class="threeBlogGrid taxonomyList">
              {{ range .Paginator.Pages }}
              <!-- IMAGE SVG TEXT ELEMENT -->
              <div class="blockImageTextSvg">
                <div class="blockImageSvgWrapID-White">
                  <div class="row">
                    {{ if eq .Title "Africa" }}
                    <div class="col-sm-4">
                      <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
                    </div>

                    {{ else if eq .Title "Asia" }}
                    <div class="col-sm-4">
                      <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
                    </div>
                    {{ else if eq .Title "Oceania" }}
                    <div class="col-sm-4">
                      <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
                    </div>
                    {{ else if eq .Title "Europe" }}
                    <div class="col-sm-12">
                      <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
                    </div>
                    {{ else if eq .Title "North America" }}
                    <div class="col-sm-12">
                      <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
                    </div>
                    {{ else if eq .Title "South America" }}
                    <div class="col-sm-12">
                      <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
                    </div>
                    {{ else if eq .Title "Latest" }}
                    <div class="col-sm-12">
                      <h4><a href="{{ .RelPermalink }}"></a></h4>
                    </div>

                    {{ else }}
                    <div class="col-sm-9">
                      <h4><a href="{{ .RelPermalink }}">{{ .Title }}s</a></h4>
                      <p>
                        {{ range .Params.tags }}
                        <a
                          href="/tags/{{ . | urlize }}/"
                          class="btn btn-outline-dark"
                          >#{{ . }}</a
                        >
                        {{ end }}
                      </p>
                    </div>

                    {{ end }}
                  </div>
                </div>
              </div>
              {{ end }} {{- partial "pagination" . -}}
              <div class="bg-brand mt-5 pl-3 pt-3">
                {{- partial "search-form.html" . -}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4" style="margin-top: 175px">
      <div class="col-sm-12">
        <div class="col-sm-12">
          {{- partial "callout-text-blog-right" . -}} {{- partial
          "blog-tags-right" . -}}
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}{{ end }}
