 {{ define "main" }}
 {{- partial "navCategories.html" . -}}
 {{- partial "navFilter.html" . -}}




 <div class="clearfix"></div>

 <div class="bg-ligh" style="background-color: #eee;">
 <div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="">
				<h2 class="mt-5">{{ range .Params.categories | first 1 }}{{.}}{{end}} {{ .Title }}</h2>
				<div class="mt-5">
 				
					{{ range .Params.tags }}
					<a href="/tags/{{ . | urlize }}/" class="badge badge-sm badge-white">{{ . }}</a> 
					{{ end }}

					<h5 class="mt-5 mb-5">

						{{if eq .Params.price "Contact Seller" }}
						<Strong>Price on request</Strong>
						{{else}}


						Approx Price: <strong> ${{.Params.price | lang 0 }}

							{{end}}
									
						</strong>
					</h5>

							{{ range .Params.categories | first 1 }}
							<span class="badge badge-secondary text-white pl-4 pb-2 pt-2 pr-4 mb-4 mt-0" style="font-size: 100%; font-weight: normal;">   
							<a href="/categories/{{ . | urlize }}/" class="text-white">{{ . }}</a> 
							</span>
							 {{ end }}
							 <a href='{{ .Params.urlLink }}?referrer=caravansinaustralia-com-au' class="badge badge-brand pl-4 pb-2 pt-2 pr-4 mb-4 mt-0" target="_blank">Check Price</a>
							 <br /><br />
							 <span class="mt-5 text-muted"><A href="#" onclick="history.back()">← Back to results</A></span><br /><br />
					
				</div>

			</div>
		</div>
		
		<div class="col-md-8 order-first order-md-last">
			<div class="row">




				{{if eq .Params.noimage "r" }}
				<div class="">
					<img src="/images/caravans/listPlace.jpg" class="img-fluid" height="1000" width="800" alt="Article Image" />
				</div>
				{{else}}

			
					<img src="/images/caravans-900x800/{{ .Params.id }}.jpg" class="img-fluid" height="1000" width="800" alt="Article Image" />
			

				{{ end }}




		</div>
	</div></div>

</div></div>






<div class="container">
 	<div class="row">
 		<div class="col-lg-7 offset-lg-1 pt-3">

			<div class="row">
				
				<div class="col-lg-6">
					<span class="spanThree">About</span><p class="introPara">{{ .Title }} is a caravan by <Strong>{{ range .Params.categories | first 1 }}
					<a href="/categories/{{ . | urlize }}/" class="">{{ . }}</a></Strong>{{ end }} and is a caravan that is categorised as being {{ range .Params.tags | after 4 | first 1 }}
					<a href="/tags/{{ . | urlize }}/" class="">Off Road</a></strong>{{ end }} 
					and can sleep at <em>least {{ .Params.sleeps }} people</em>.
</p></div>

<div class="col-lg-6">
	<span class="spanThree b-1">Value</span>
	<p class="introPara">
		<a href='{{ .Params.urlLink }}?referrer=caravansinaustralia-com-au' target="_blank">Click here</a> to find the best price on the market for a {{ .Title }} by {{ range .Params.categories | first 1 }}{{ . }}{{ end }}.

	</p>


</div>







			</div>
			<hr />
		

			
			<div class="articleWrapper">
				

	

			<span class="spanThree">Caravan Features</span>

		
 				

					</div>
					<div class="col-lg-5">

					</div>










<div class="alert alert-dark text-center">
<h6 style="padding-top: 10px;">{{ .Title }} by {{ range .Params.categories | first 1 }}{{ . }}{{ end }} is rated as <Strong><a href="/tags/{{ . | urlize }}/" class="">Off Road</a></Strong> in terms of capability.</h6>
</div>


<h4 class="text-center pb-4 mt-5">Basic Specifications:</h4>

<div class="table-wrapper-scroll-y my-custom-scrollbar table-responsive">
<table class="table table-bordered text-left">
	<tr>
		<td>Maker
		<td><Strong>
			{{ range .Params.categories | first 1 }}{{.}}{{end}}
		</tr>
	<tr>
	<tr>
	
			<td>Type
			<td><Strong>
				{{if eq .Params.vanType "" }}N/A{{else}}{{ .Params.vanType }}{{end}}
			</tr>
	
			<tr>


				<td>Approx size
					<td><Strong>
						{{if eq .Params.footTag "" }}N/A{{else}}{{ .Params.footTag }}{{end}}
					</tr>
			
					<tr>


						<td>Roofing
							<td><Strong>
								{{if eq .Params.roofType "" }}N/A{{else}}{{ .Params.roofType }}{{end}}
							</tr>
					
							<tr>				
		
				<td>Made in
				<td><Strong>{{if eq .Params.aussieMade "" }}N/A{{else}}{{ .Params.aussieMade }}{{end}}
				</tr> 


		<tr>
		<td>Sleeping
		<td><Strong>
			{{if eq .Params.sleeps "" }}N/A{{else}}{{ .Params.sleeps }} people{{end}}
		</tr>
	<tr>
	<td>Bed Size
	<td><Strong>
		{{if eq .Params.mainBed "" }}N/A{{else}}{{ .Params.mainBed }}{{end}}
	</tr>
	<tr>
	<td>Bunks
	<td><Strong>{{if eq .Params.bunks "" }}N/A{{else}}{{ .Params.bunks }}{{end}}
	</tr>
	<tr>
	<td>Fresh Water
	<td><Strong>{{if eq .Params.freshWater "" }}N/A{{else}}{{ .Params.freshWater }}{{end}} Litres
	</tr>
	<tr>
	<td>Grey Water
	<td><Strong>{{if eq .Params.greyWater "" }}N/A{{else}}{{ .Params.greyWater }}{{end}} Litres
	</tr>

	<tr>
	<td>Battery
	<td><Strong>{{if eq .Params.battery "" }}N/A{{else}}{{ .Params.battery }}{{end}}
	</tr>	

	<tr>
	<td>Solar Power
	<td><Strong>{{if eq .Params.solar "" }}N/A{{else}}{{ .Params.solar }}{{end}}
	</tr>

	<tr>
		<td>Air Con
		<td><Strong>{{if eq .Params.airCon "" }}N/A{{else}}{{ .Params.airCon }}{{end}}
		</tr> 

		<tr>


	<tr>
	<td>Total Length
	<td><Strong>{{if eq .Params.totalLength "" }}N/A{{else}}{{ .Params.totalLength }} metres{{end}}
	</tr> 


	<tr>
		<td>Length of Body
		<td><Strong>{{if eq .Params.bodyLength "" }}N/A{{else}}{{ .Params.bodyLength }} metres{{end}}
		</tr> 
	

	<tr>
	<td>Tare Weight
	<td><Strong>{{if eq .Params.tareWeight "" }}N/A{{else}}{{ .Params.tareWeight }}{{end}} 	kgs
	</tr>


	<tr>
	<td>ATM Weight
	<td><Strong>{{if eq .Params.atmWeight "" }}N/A{{else}}{{ .Params.atmWeight }}{{end}} kgs
	</tr>


</table>
</div>

{{if (eq .Params.tareWeight "") | or (eq .Params.atmWeight "") }}


{{ else }}

{{ $scoreSpinup :=  int .Params.tareWeight }}
{{ $atmWeight := int .Params.atmWeight }}




{{ $thePercentage := div (mul $scoreSpinup 100.0) $atmWeight }}
{{ $scoreGauge := mul (div $thePercentage 100) 180.0 }}
<div class="d-none">
<h4>{{ $thePercentage }} the %</h4>
<h4>{{ $scoreSpinup }}</h4>
<h4>{{ $atmWeight }}</h4>
<h4>{{ $scoreGauge }}</h4>
</div>
<div>
<h4 class="mt-5 text-center">Weight<h4>
<h6 class="text-center">Tare Usage vs Total Capacity ATM ({{ .Params.atmWeight }} kgs)</h6>

<div class="row  mt-5">
	<div class="col-md-3"></div>
	<div class="col-xs-12 col-md-6">
<div class="gauge" style="width: 100%; --rotation:{{ $scoreGauge }}deg; --color:#17a2b8; --background:#e9ecef;">
      <div class="percentage"></div> 
      <div class="mask"></div>
      <h5 class="value">{{ $scoreSpinup }}kgs</h5>
  </div>
</div>
</div>
</div>
{{end}}
<style>

	.gauge {
    position: relative;
    border-radius: 50%/100% 100% 0 0;
    background-color: var(--color, #a22);
    overflow: hidden;
}
.gauge:before{
    content: "";
    display: block;
    padding-top: 50%;   /* ratio of 2:1*/
}
.gauge .chart {
  overflow: hidden;
}
.gauge .mask {
  position: absolute;
  left: 20%;
  right: 20%;
  bottom: 0;
  top: 40%;
  background-color: #f9f9f9;
  border-radius: 50%/100% 100% 0 0;
}

.gauge .percentage {
    position:  absolute;
    top: -1px;
    left: -1px;
    bottom: 0;
    right: -1px;
    background-color: var(--background, #aaa);
    transform:rotate(var(--rotation)); 
    transform-origin: bottom center; 
    transition-duration: 600;
}
.gauge:hover {
  --rotation: 100deg;
}
.gauge .value {
  position:absolute; bottom:0%; left:0;   
  width:100%; 
  text-align: center;
}

.gauge .min {
  position:absolute; 
  bottom:0; left:5%;   
}
.gauge .max {
  position:absolute; 
  bottom:0; right:5%;   
 }


	.my-custom-scrollbar {
position: relative;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}

</style>

<!--
<h4 class="mt-5 text-center d-none">Recommended Accessories</h4>
{{- partial "productx2-horiz.html" . -}}
-->
<h3 class="mt-5 mb-3">Is {{.Title }} a top ranked Caravan in Australia?</h3>

<p>So, when it comes to comparing {{ .Title }} with the rest, is it in the
Top 10 Caravans in Australia? Is it in the Top 20 Caravans in Australia? Well, the best way to find out is to check our <a href="/rankings">Current Australia Best Caravan Rankings</a> and see if {{ .Title}} makes the list of most wanted Caravan in Australia!</p>

<a href="/rankings" class="btn btn-primary">Best Caravans in Australia</a> 

<h3 class="mt-5 mb-3">Ready to buy an {{ .Title }}?</h3>

<p>Head over to <A style="text-decoration: underline;" href="{{ .Params.urlLink}}?referrer=caravansinaustralia-com-au">latest offers</A>.</p>
 					
 			
 					{{ .Content }}
 					<!-- THIS PUTS A SEE ALSO LINK AFTER EVERY 2nd H2 IN POST-->
 					{{ $var := .Params.seealsolinks }}
 					<div id="images" class="middleRelated">

 				{{ $related := .Site.RegularPages.RelatedIndices . "categories" | shuffle | first 3 }}
 				{{ with $related }}
 				{{ range . }}
 						<div class='col-xs-12 midArticle alert alert-light'>
 							<div class="">
 								<Strong><img src="/images/brandIcon.svg" height="30" width="30" alt="Brand Icon" class="brandIcon" /> See also:</strong> <a href="{{ .RelPermalink }}">{{ .Title }}</a>                
 								</div>
 							</div>
 							{{ end }}
 							{{ end }}
 						</div>

						 <div class="row mb-5 mt-2"></div>
						<hr />
						<div class="row mb-5 mt-5">
							<div class="col-sm-6">{{- partial "1-col-blog-thumb-hot" . -}}</div>

							<div class="col-sm-6"> {{ range where .Site.Pages "Params.section" "review" | shuffle | after 1 | first 1 }}
								{{- partial "listing-template.html" . -}}
								{{ end }}</div>
						</div>

						 
 					</div>
 					<br />
 					<hr />
 	

 			

 			
 			
 			<div class="col-lg-4 articleRight">
 				<div class="col-sm-12">
 				
 					

 					<div id="sticky" class="d-none d-sm-block">
 						 <h4 class="mt-5">Featured</h4>
 {{ range where .Site.Pages "Params.section" "review" | shuffle | first 1 }}
{{- partial "listing-template.html" . -}}
{{ end }}
 					</div>
 					<div class="extra">
 					</div>
 				</div>
 			</div>
 		</div>
 	</div>

<!-- 	{{- partial "callout-text-subscribe" . -}}-->

 	</div> 	</div>

 {{end}}
 	
