<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
  <meta charset="utf-8" />
  {{ $description := .Params.meta.description | default "Caravans in Australia is an independant Guide that helps people research and decide on which caravan to purchase." }}
  {{ $title := .Params.meta.title | default .Title }}
  {{ if eq .Section "categories" }}

  <title>Best Caravans by {{ $title  }} | Caravans in Australia</title>

  {{ else if eq .Section "tags" }}

  <title>What are the best {{ $title  }} Caravans in Australia?</title>

  {{ else }}

  <title>{{ $title  }}</title>
  {{ end }}

  <meta name="description" content="{{ $description }}" />
  <meta property="og:title" content="{{ .Params.meta.ogtitle | default $title }}" />
  <meta property="og:description" content="{{ .Params.meta.ogdescription | default $description }}" />

 <meta name="author" content="">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="icon" type="image/png" href="/images/favicon.ico"/>
 <link rel="canonical" href="{{ .Permalink }}">
 <meta name="description" content="{{ .Site.Params.MetaDescription }}">

<style type="text/css">
body {visibility: visible;}
.skiptranslate {display: none;}
</style>
 <!-- Let's Bundle CSS! -->
{{ $cssBundle := slice }}
{{ $css3 := resources.Get "/vendor/bootstrap/css/bootstrap.css" | minify }}
{{ $css4 := resources.Get "/css/main.css" | minify }}
{{ $cssBundle = $cssBundle | append $css3 }}
{{ $cssBundle = $cssBundle | append $css4 }}
{{ $cssBundle := $cssBundle | resources.Concat "css/bundle.css" | fingerprint  }}
<link rel="stylesheet" href="{{ $cssBundle.RelPermalink }}">

  <script data-ad-client="ca-pub-5594339958958192" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap" rel="stylesheet">

<meta name="google-site-verification" content="55zpRTY_QkrDhM-SDx8sEG2Ag9Kc1hxFOeZ7ZxnQEOQ" />
</head>
<body id="{{ .Title }}{{ with .File }}{{ .TranslationBaseName }}{{ end }}" {{ with .Type }} class="{{ . }}" {{ end }}>

  {{- partial "nav.html" . -}}
  {{- partial "shapes.html" . -}}
  {{ block "main" . }}

  {{ end }}














  <div style="margin-top: 0px;">
  </div>
  <div class="container-fluid footerContainer">
    <div class="container">
      <div class="row">
       <div class="col-12 col-sm-3 aos-item footerBlock">
        <h5>Price</h5>
        <ul>
          <li><a href="/tags/under-50k/">Under $50k</a></li>
          <li><a href="/tags/50-60k/">$50 - $60k</a></li>
          <li><a href="/tags/60-70k/">$60 - $70k</a></li>
          <li><a href="/tags/70-80k/">$70 - $80k</a></li>
          <li><a href="/tags/80-100k/">$80 - $100</a></li>
          <li><a href="/tags/over-100k/">Over $100k</a></li>
          <li><a href="/tags/price-unknown/">Price unknown</a></li>
          <img src="/images/logo.png" class="img-fluid" width="200" height="33" alt="Footer Logo" style="margin-top: 50px;">
        </ul>
      </div>
      <div class="col-12 col-sm-3 aos-item footerBlock">
       <h5>Sleeps</h5>
       <ul>
        <li><a href="/tags/sleeps-2/">Sleeps 2</a></li>
        <li><a href="/tags/sleeps-3/">Sleeps 3</a></li>
        <li><a href="/tags/sleeps-4/">Sleeps 4</a></li>
        <li><a href="/tags/sleeps-5/">Sleeps 5</a></li>
        <li><a href="/tags/sleeps-6/">Sleeps 6</a></li>
        <li><a href="/tags/sleeps-8/">Sleeps 8</a></li>
        <li><a href="/tags/sleeps-2-4/">Sleeps 2 - 4</a></li>
        <li><a href="/tags/sleeps-2-5/">Sleeps 2 - 5</a></li>
        <li><a href="/tags/sleeps-3-4/">Sleeps 3 - 4</a></li>
        <li><a href="/tags/sleeps-4-5/">Sleeps 4 - 5</a></li>
        <li><a href="/tags/up-to-5/">Up to 5</a></li>
      </ul>
      <ul>
      </div>
      
      <div class="col-12 col-sm-3 aos-item footerBlock">
        <h5>Size</h5>
       <ul>
        <li><a href="/tags/11-ft/">11 foot</a></li>
              <li><a href="/tags/12-ft/">12 foot</a></li>
              <li><a href="/tags/13-ft/">13 foot</a></li>
              <li><a href="/tags/14-ft/">14 foot</a></li>
              <li><a href="/tags/16-ft/">16 foot</a></li>
              <li><a href="/tags/17-ft/">17 foot</a></li>
              <li><a href="/tags/18-ft/">18 foot</a></li>
              <li><a href="/tags/19-ft/">19 foot</a></li>
              <li><a href="/tags/20-ft/">20 foot</a></li>
              <li><a href="/tags/21-ft/">21 foot</a></li>
              <li><a href="/tags/22-ft/">22 foot</a></li>
              <li><a href="/tags/23-ft/">23 foot</a></li>
              <li><a href="/tags/24-ft/">24 foot</a></li>
              <li><a href="/tags/25-ft/">25 foot</a></li>
              <li><a href="/tags/26-ft/">26 foot</a></li>
       </ul>
      </div>
      <div class="col-12 col-sm-3 aos-item footerBlock">
        <h5>Van Types</h5>
       <ul>
        <li><a href="/tags/australian-made/">Australian Made</a></li>
        <li><a href="/tags/made-overseas/">Made Overseas</a></li>
        <li><a href="/tags/full-height/">Full Height</a></li>
        <li><a href="/tags/pop-top/">Pop Top</a></li>
        <li><a href="/tags/on-road/">On Road</a></li>
        <li><a href="/tags/off-road">Off Road</a></li>
        <li><a href="/tags/semi-off-road/">Semi</a></li>  
       </ul>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center copyrightNote">
      {{ if .Site.Params.copyrighthtml }}
      <p>{{.Site.Params.CopyrightHTML | safeHTML}}</p>
      <p style='font-size: 80%;' style="text-muted">Caravans in Australia is an independent publication that evaluates caravans specs based on available data collected around the web. This website provides content, not advice. When choosing your caravan you should consider a variety of resoures when doing your research. This website is also independent of any government or council body. <a href="https://futurepixel.com.au" target="_blank">Web Development</a></p>
      {{ end }}
    </div>  
  </div>

  <a class="btn btn-md btn-primary" id="myBtn" onclick="scrollTopAnimated(400)"><img src="/images/top.png" width="20" height="29" alt="Top of page" /></a>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
     
      <div class="modal-body">
        {{- partial "callout-text-subscribe-modal" . -}}
      </div>

    </div>
  </div>
</div>  


<!-- Let's Bundle JS! -->
{{ $jsBundle := slice }}
{{ $js1 := resources.Get "/vendor/jquery/jquery.min.js" | minify }}
{{ $js2 := resources.Get "/vendor/bootstrap/js/bootstrap.bundle.min.js" | minify }}
{{ $js4 := resources.Get "/js/main.js" | minify }}
{{ $jsBundle = $jsBundle | append $js1 }}
{{ $jsBundle = $jsBundle | append $js2 }}
{{ $jsBundle = $jsBundle | append $js4 }}
{{ $jsBundle := $jsBundle | resources.Concat "js/bundle.js" | fingerprint  }}
<script src="{{ $jsBundle.RelPermalink }}"></script>

 <script src="/js/lunr.js"></script>
<script src="/js/search.js"></script>
<!-- jQuery -->

<!-- CSSMap SCRIPT -->






  <!-- Bootstrap core JavaScript -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9PGSC5LXTN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9PGSC5LXTN');
</script>




</body>
</html>


