 
 {{ define "main" }}
 
 {{- partial "navCategories.html" . -}}

 {{- partial "navFilter.html" . -}}
 




{{ if in .Params.categories "Latest"  }}


 <div class="bgImageElementWhite">
 </div>
 <div class="clearfix"></div>
 <div class="container subTopMarginHeader singlePost">
 	<div class="row">
 		<div class="col-lg-8">
 			<div class="spFeature articleContent">
 				<h2 class="articleHeader">{{ .Title }}</h2>
 				<div class="row">
 					<div class="col-sm-12">{{ range .Params.tags | first 1 }}
 						Topic: <strong>  
 						{{ . }}
 						</strong>
 						 {{ end }}
 					</div>
 					<div class="col-sm-12">
 						<span class="blogAuthor">Written by Caravans In Australia team</a></span>
 					</div>
 					<div class="col-sm-12 tagsBlog d-none">
 						{{ range .Params.tags }}
 						<a href="/tags/{{ . | urlize }}/" class="btn btn-outline-dark">#{{ . }}</a> 
 						{{ end }}
 					</div>
 					<div class="col-sm-12 socialsCol">
							<a href="#" class="btn btn-sm btn-primary facebook"><span><i class="fa fa-facebook"></i></span>Facebook</a>
	  						<a href="#" class="btn btn-sm btn-primary twitter"><span><i class="fa fa-twitter"></i></span>Twitter</a>
	  						<a href="#" class="btn btn-sm btn-primary linkedin"><span><i class="fa fa-linkedin"></i></span>Linkedin</a>
 					</div>
 					
 				</div>
 				<hr />
 				<div class="articleWrapper">	
 					<p class="introPara">{{ .Params.intro }}</p>
 					<div class="articleFeatureImage">
 						<img src="/images/places/spinner ({{ .Params.id }}).jpg" class="img-fluid" height="800" width="800" alt="Article Image" />
 					</div>
 					{{ .Content }}
 						<!-- THIS PUTS A SEE ALSO LINK AFTER EVERY 2nd H2 IN POST-->
 					{{ $var := .Params.seealsolinks }}
 					<div id="images" class="middleRelated">

 				{{ $related := .Site.RegularPages.Related . | shuffle | first 2 }}
 				{{ $related4 := shuffle (where (.Site.RegularPages.RelatedIndices . "categories" ) "CurrentSection.Title" .CurrentSection.Title ) | first 3}}



 				{{ with $related }}
 				{{ range . }}
 						<div class='col-xs-12 midArticle alert alert-light'>
 							<div class="row">

 							<div class="col-2 col-md-1">
 								<img src="/images/brandIcon.svg" class="brandIcon" alt="Brand Icon" width="45" height="45" />
 							</div>
 							<div class="col-10 col-md-11"><Strong>See also:</strong> <a href="{{ .RelPermalink }}">{{ .Title }}</a>     
 							</div>        

 								</div>

 							</div>
 							{{ end }}
 							{{ end }}
 						</div>
 						<!--SEE Also-->
 					</div>
 					<br />
 					
 					<div class="row">
 					
 						<div class="col-sm-12 socialsCol">
							<a href="#" class="btn btn-sm btn-primary facebook"><span><i class="fa fa-facebook"></i></span>Facebook</a>
	  						<a href="#" class="btn btn-sm btn-primary twitter"><span><i class="fa fa-twitter"></i></span>Twitter</a>
	  						<a href="#" class="btn btn-sm btn-primary linkedin"><span><i class="fa fa-linkedin"></i></span>Linkedin</a>
 					</div>
 					</div>
 					{{- partial "blog-list-text-2-horiz" . -}}
 				</div>
 			</div>
 			<div class="col-lg-4 articleRight">
 				<div class="col-sm-12">
 					
 					{{- partial "blog-list-text-vert" . -}}
 					{{- partial "accord-nav" . -}}
 				
					 <div id="sticky" class="d-none d-sm-block">
						<h4 class="mt-5">Featured</h4>
{{ range where .Site.Pages "Params.section" "review" | shuffle | first 1 }}
{{- partial "listing-template.html" . -}}
{{ end }}
				   </div>
 					<div class="extra">
 					</div>
 				</div>
 			</div>
 		</div>
 	</div>




















{{ else }}



 <div class="bgImageElementWhite">
 </div>
 <div class="clearfix"></div>
 <div class="container subTopMarginHeader singlePost">
 	<div class="row">
 		<div class="col-lg-8">
 			<div class="spFeature articleContent">
 				<h2 class="articleHeader">{{ .Title }}</h2>
 				<div class="row">
 					<div class="col-sm-12">{{ range .Params.tags }}
 						<strong>Study in   
 						<a href="/tags/{{ . | urlize }}/" class="">{{ . }}</a> 
 						</strong>
 						 {{ end }}
 					</div>
 					<div class="col-sm-12">
 						<span class="blogAuthor">beachesinaustralia.com</a></span>
 					</div>
 					<div class="col-sm-12 tagsBlog">
 						{{ range .Params.tags }}
 						<a href="/tags/{{ . | urlize }}/" class="btn btn-outline-dark">#{{ . }}</a> 
 						{{ end }}
 					</div>
 					<div class="col-sm-12 socialsCol">
							<a href="#" class="btn btn-sm btn-primary facebook"><span><i class="fa fa-facebook"></i></span>Facebook</a>
	  						<a href="#" class="btn btn-sm btn-primary twitter"><span><i class="fa fa-twitter"></i></span>Twitter</a>
	  						<a href="#" class="btn btn-sm btn-primary linkedin"><span><i class="fa fa-linkedin"></i></span>Linkedin</a>
 					</div>
 					
 				</div>
 				<hr />
 				<div class="articleWrapper">
		<p class="introPara">{{ .Title }} is located in a place called {{ range .Params.tags }}
 						<a href="/tags/{{ . | urlize }}/" class="">{{ . }}{{ end }}</a>, 
 						which is located in {{ range .Params.tags }}
 						<a href="/tags/{{ . | urlize }}/" class="">{{ . }}</a>{{ end }}, a country that lies in the region of {{ range .Params.categories }}
 						<a href="/categories/{{ . | urlize }}/" class="">{{ . }}</a>. 
 						 
 						{{ end }}
 					</p>



				 

 						
 					

 					
 					
 			
 					{{ .Content }}
 					<!-- THIS PUTS A SEE ALSO LINK AFTER EVERY 2nd H2 IN POST-->
 					{{ $var := .Params.seealsolinks }}
 					<div id="images" class="middleRelated">

 				{{ $related := .Site.RegularPages.Related . | first 2 }}
 				{{ with $related }}
 				{{ range . }}
 						<div class='col-xs-12 midArticle alert alert-light'>
 							<div class="">
 								<Strong><img src="/images/brandIcon.svg" height="30" width="30" alt="Brand Icon" class="brandIcon" /> See also:</strong> <a href="{{ .RelPermalink }}">{{ .Title }}</a>                
 								</div>
 							</div>
 							{{ end }}
 							{{ end }}
 						</div>
 					</div>
 					<br />
 					<hr />
 					
 					{{- partial "blog-list-text-2-horiz" . -}}
 				</div>
 			</div>
 			<div class="col-lg-4 articleRight">
 				<div class="col-sm-12">
 					{{- partial "callout-text-blog-right" . -}}
 					{{- partial "blog-list-text-vert" . -}}
 			
					 <div id="sticky" class="d-none d-sm-block">
						<h4 class="mt-5">Featured</h4>
{{ range where .Site.Pages "Params.section" "review" | shuffle | first 1 }}
{{- partial "listing-template.html" . -}}
{{ end }}
				   </div>	
 					<div class="extra">
 					</div>
 				</div>
 			</div>
 		</div>
 	</div>
 

 	{{ end }}	</div>	{{ end }}	
 	 