 
 {{ define "main" }}

 




{{ if in .Params.categories "Latest"  }}


 <div class="bgImageElementWhite">
 </div>
 <div class="clearfix"></div>
 <div class="container subTopMarginHeader singlePost">
 	<div class="row">
 		<div class="col-lg-8">
 			<div class="spFeature articleContent">
 				<h2 class="articleHeader">{{ .Title }}</h2>
 				<div class="row">
 					<div class="col-sm-12">{{ range .Params.tags | first 1 }}
 						<strong>  
 						<a href="/tags/{{ . | urlize }}/" class="">{{ . }}</a> 
 						</strong>
 						 {{ end }}
 					</div>
 				
 					<div class="col-sm-12 tagsBlog">
 						{{ range .Params.tags }}
 						<a href="/tags/{{ . | urlize }}/" class="btn btn-outline-dark">#{{ . }}</a> 
 						{{ end }}
 					</div>
 					<div class="col-sm-12 socialsCol">
							<a href="#" class="btn btn-sm btn-primary facebook"><span><i class="fa fa-facebook"></i></span>Facebook</a>
	  						<a href="#" class="btn btn-sm btn-primary twitter"><span><i class="fa fa-twitter"></i></span>Twitter</a>
	  						<a href="#" class="btn btn-sm btn-primary linkedin"><span><i class="fa fa-linkedin"></i></span>Linkedin</a>
 					</div>
 					
 				</div>
 				<hr />
 				<div class="articleWrapper">	
 					<p class="introPara">{{ .Params.intro }}</p>
 					<div class="articleFeatureImage">
 						<img src="{{ .Params.image }}" class="img-fluid" height="800" width="800" alt="Article Image" />
 					</div>
 					{{ .Content }}
 						<!-- THIS PUTS A SEE ALSO LINK AFTER EVERY 2nd H2 IN POST-->
 					{{ $var := .Params.seealsolinks }}
 					<div id="images" class="middleRelated">

 				{{ $related := .Site.RegularPages.Related . | shuffle | first 2 }}
 				{{ $related2 := where (.Site.RegularPages.RelatedIndices . "categories"  "CurrentSection.Title" .CurrentSection.Title ) | shuffle | first 3}}



 				{{ with $related }}
 				{{ range . }}
 						<div class='col-xs-12 midArticle alert alert-light'>
 							<div class="row">

 							<div class="col-2 col-md-1">
 								<img src="/images/brandIcon.svg" class="brandIcon" alt="Brand Icon" width="45" height="45" />
 							</div>
 							<div class="col-10 col-md-11"><Strong>See also:</strong> <a href="{{ .RelPermalink }}">{{ .Title }}</a>     
 							</div>        

 								</div>

 							</div>
 							{{ end }}
 							{{ end }}
 						</div>
 						<!--SEE Also-->
 					</div>
 					<br />
 					<hr />
 					<div class="row">
 					
 						<div class="col-sm-12 socialsCol">
							<a href="#" class="btn btn-sm btn-primary facebook"><span><i class="fa fa-facebook"></i></span>Facebook</a>
	  						<a href="#" class="btn btn-sm btn-primary twitter"><span><i class="fa fa-twitter"></i></span>Twitter</a>
	  						<a href="#" class="btn btn-sm btn-primary linkedin"><span><i class="fa fa-linkedin"></i></span>Linkedin</a>
 					</div>
 					</div>
 					{{- partial "blog-list-text-2-horiz" . -}}

 				</div>
 			</div>
 			<div class="col-lg-4 articleRight">
 				<div class="col-sm-12">
 					{{- partial "callout-text-blog-right" . -}}
 					{{- partial "blog-list-text-vert" . -}}
 					{{- partial "blog-tags-right" . -}}
 					{{- partial "1-col-blog-thumb-hot" . -}}
 					<div id="sticky" class="d-none d-sm-block">
 						{{- partial "callout-text-blog-right-sticky" . -}}
 					</div>
 					<div class="extra">
 					</div>
 				</div>
 			</div>
 		</div>
 	</div>

 	{{- partial "callout-text-subscribe" . -}}



















{{ else }}




 <div class="clearfix"></div>
 <div class="container  singlePost">
 	<div class="bg-brand mt-5 pl-3 pt-3">
 	{{- partial "search-form.html" . -}}
 	</div>
 	<div class="row">
 		<div class="col-lg-8">
 			<div class="spFeature articleContent">
 				<h2 class="articleHeader">{{ .Title }}</h2>
 				<div class="row">



{{ $scratch := newScratch }}

{{ if isset .Params "realscore" }}

{{ $scratch.Set "greeting" .Params.realscore }}

{{ else }}

{{ $scoreTheReal :=  index (seq 83 | after 66 | shuffle) 1 }}

{{ $scratch.Set "greeting" $scoreTheReal }}

{{ end }}

{{ $feetype := newScratch }}
{{ if eq .Params.schoolType "Schools-Girls" }}
{{ $feetype.Set "feetype" "This is an elite school for Girls with a very high fee per semester. It is classed as one of the most expensive schools in Australia." }}
{{end}}
{{ if eq .Params.schoolType "Schools-Boys" }}
{{ $feetype.Set "feetype" "This is an elite school for Boys with a very high fee per semester. It is classed as one of the most expensive schools in Australia." }}
{{ end }}
{{ if eq .Params.schoolType "Schools-Public (State) (S. & C. - NSW only)" }}
{{ $feetype.Set "feetype" "This is a Public School which means it is generally free for students with Citizenship and Permanent Residency to enrol and attend." }}
{{ end }}
{{ if eq .Params.schoolType "Schools-State (M.B.A.P.T. & C.-except NSW)" }}
{{ $feetype.Set "feetype" "This is a Public School which means it is generally free for students with Citizenship and Permanent Residency to enrol and attend." }}
{{ end }}
{{ if eq .Params.schoolType "Schools-Theological" }}
{{ $feetype.Set "feetype" "This is aTheological school which helps students to connect education with their faith, to develop academically and spiritually in their studies and growth as a person. Fees can vary so please get in touch with the school directly for further details." }}
{{ end }}
{{ if eq .Params.schoolType "School-Correspondence" }}
{{ $feetype.Set "feetype" "This is a Correspondence School which means education is provided through one or more courses by an institution under which the institution provides instructional materials by mail or electronic transmission. This includes all examinations on the materials, so that students are separated from the teacher. Fees for this type of school are geneally low." }}
{{ end }}
{{ if eq .Params.schoolType "Schools Co-Educational" }}
{{ $feetype.Set "feetype" "This is a Co-Educational School which mixes both boys and girls in the same classes. Fees are typically moderate and in some cases free." }}
{{ end }}

{{ if eq .Params.schoolType "School-General" }}
{{ $feetype.Set "feetype" "You will need to enquire directly with the school for more information about fees." }}
{{ end }}




{{ if eq .Params.schoolType "Schools-Girls" }}
{{ $feetype.Set "feeName" "Private Girls School" }}
{{end}}
{{ if eq .Params.schoolType "Schools-Boys" }}
{{ $feetype.Set "feeName" "Private Boys School" }}
{{end}}
{{ if eq .Params.schoolType "Schools-Public (State) (S. & C. - NSW only)" }}
{{ $feetype.Set "feeName" "Public School" }}
{{end}}
{{ if eq .Params.schoolType "Schools-State (M.B.A.P.T. & C.-except NSW)" }}
{{ $feetype.Set "feeName" "Public School" }}
{{end}}
{{ if eq .Params.schoolType "Schools-Theological" }}
{{ $feetype.Set "feeName" "Theological School" }}
{{end}}
{{ if eq .Params.schoolType "Schools Co-Educational" }}
{{ $feetype.Set "feeName" "Co-Educational School" }}
{{end}}
{{ if eq .Params.schoolType "School-Correspondence" }}
{{ $feetype.Set "feeName" "Correspondence School" }}
{{end}}
{{ if eq .Params.schoolType "School-General" }}
{{ $feetype.Set "feeName" "General School" }}
{{end}}


		
  					


<div class="scoreBoard"><span>SCORE</span>
<br /><strong class="color">{{ $scratch.Get "greeting" }}</strong> / 100 
</div>


<Style>

.scoreBoard {padding: 15px 25px 20px; background: #fff;font-size: 150%; font-weight: bold;border: 1px solid #999; margin: 0px 10px 20px 10px;border-radius: 10px; }
	.scoreBoard span {font-size: 60%;}


@media only screen and (min-width: 768px) {

	.scoreBoard {display: block; float: right; background: #fff; padding: 0px 10px 20px; border-radius: 10px; width: 200px; text-align: center; border: 1px solid #999; margin: 0px 0px 0px 0px; position: absolute; margin-left: 200px; right: 50px; font-size: 200%; font-weight: bold;}
strong.colorgreen {color: green;}	

	.scoreBoard span {font-size: 50%;}
}


</Style>











 					<div class="col-sm-12">{{ range .Params.tags | first 1 }}
 						<strong>Beaches in   
 						<a href="/tags/{{ . | urlize }}/" class="">{{ . }}</a> 
 						</strong>
 						 {{ end }}
 					</div>



 					<div class="col-sm-12">
 						<span class="blogAuthor">beachesinaustralia.com</a></span>
 					</div>
 					<div class="col-sm-12 tagsBlog">
 						{{ range .Params.tags }}
 						<a href="/tags/{{ . | urlize }}/" class="btn btn-outline-dark">#{{ . }}</a> 
 						{{ end }}
 					</div>
 					<div class="col-sm-12 socialsCol">
							<a href="#" class="btn btn-sm btn-primary facebook"><span><i class="fa fa-facebook"></i></span>Facebook</a>
	  						<a href="#" class="btn btn-sm btn-primary twitter"><span><i class="fa fa-twitter"></i></span>Twitter</a>
	  						<a href="#" class="btn btn-sm btn-primary linkedin"><span><i class="fa fa-linkedin"></i></span>Linkedin</a>
 					</div>
 					
 				</div>
 				<hr />
 				<div class="articleWrapper">
		<p class="introPara">{{ .Title }} is a beach in Australia that is located in a place known as {{ range .Params.tags | first 1 }}
 						<a href="/tags/{{ . | urlize }}/" class="">{{ . }}</a>{{ end }}, 
 						which is found in the region of {{ range .Params.categories }}
 						<a href="/categories/{{ . | urlize }}/" class="">{{ . }}</a>, Australia.
 						 
 						{{ end }}
 					</p>



 					<div class="google-maps" style="margin-top: 30px;">
 						<div class="map-responsive">
<iframe title="Maps" width="700" height="450"  id="gmap_canvas" src="https://maps.google.com/maps?q={{ .Title }}%20{{ range .Params.tags | after 1 | first 1 }}{{ . }}{{ end }}%20{{ range .Params.tags | first 1 }}{{ . }}{{ end }}%{{ range .Params.categories | first 1 }}{{ . }}{{ end }}%20Australia&t=&z=7&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
</div>

 				

 					<hr />










<h3>{{ .Title }} Review</h3>
<br />
<div class="alert alert-dark text-center">
<h6 style="padding-top: 10px;">{{ .Title }} gets a ranking of <Strong>{{ $scratch.Get "greeting" }}</Strong> out of a possible 100.</h6>
</div>



<!-- ABOVE 90 -->
{{ if and (gt ($scratch.Get "greeting") 90) (lt ($scratch.Get "greeting") 101)}}
<p>{{ .Title }} is one of the <strong>highest rated</strong> beaches in all of Australia, and is certainly regarded as a top beach choice in {{ range .Params.categories }}<a href="/categories/{{ . | urlize }}/" class="">{{ . }}{{end}}</a>.{{ end }}
<!-- ABOVE 80 -->
{{ if and (gt ($scratch.Get "greeting") 80) (lt ($scratch.Get "greeting") 91)}}
<p>{{ .Title }} is considered an <strong>extremely disirable</strong> beach  in {{ range .Params.categories }}<a href="/categories/{{ . | urlize }}/" class="">{{ . }}{{ end }}</a>, and is a selection that many people recommend when choosing a beach in Australia.	{{ end }}

<!-- ABOVE 70 -->
{{ if and (gt ($scratch.Get "greeting") 70) (lt ($scratch.Get "greeting") 81)}}
<p>{{ .Title }} is a <strong>very good</strong> option as an Australian beach when looking for in the area of {{ range .Params.categories }}<a href="/categories/{{ . | urlize }}/" class="">{{ . }}{{ end }}</a>.{{ end }}

<!-- ABOVE 60 -->
{{ if and (gt ($scratch.Get "greeting") 60) (lt ($scratch.Get "greeting") 71)}}
<p>{{ .Title }} is a <strong>solid</strong> Australian beach that many see as a sound option in the region of {{ range .Params.categories }}<a href="/categories/{{ . | urlize }}/" class="">{{ . }}{{ end }}</a>.{{ end }}

<!-- ABOVE 50 -->
{{ if and (gt ($scratch.Get "greeting") 50) (lt ($scratch.Get "greeting") 61)}}
<p>{{ .Title }} is seen as a <strong>standard</strong> Australian beach that meets all the basic needs of beachgoer in {{ range .Params.categories }}<a href="/categories/{{ . | urlize }}/" class="">{{ . }}{{ end }}</a>.

{{ else }}

{{ end }}

<br /><br />
<h6>Score ratings (100):</h6>

<div class="table-wrapper-scroll-y my-custom-scrollbar table-responsive">
<table class="table table-bordered text-center">
	<tr>
	<th width="20%">Scenery</th>
	<th width="20%">Comfort</th>
	<th width="20%">Holiday</th>
	<th width="20%">Water</th>
	<th width="20%">Vibe</th>
	</tr>
	<tr>
		<td>
		{{ if and (gt ($scratch.Get "greeting") 90) (lt ($scratch.Get "greeting") 101)}}{{index (seq 100 | after 90| shuffle) 1}}{{ end }}
		{{ if and (gt ($scratch.Get "greeting") 80) (lt ($scratch.Get "greeting") 91)}}{{index (seq 95 | after 80| shuffle) 1}}{{ end }}
		{{ if and (gt ($scratch.Get "greeting") 70) (lt ($scratch.Get "greeting") 81)}}{{index (seq 85 | after 70 | shuffle) 1}}{{ end }}
		{{ if and (gt ($scratch.Get "greeting") 60) (lt ($scratch.Get "greeting") 71)}}{{index (seq 80 | after 60| shuffle) 1}}{{ end }}
		{{ if and (gt ($scratch.Get "greeting") 50) (lt ($scratch.Get "greeting") 61)}}{{index (seq 50 | after 70| shuffle) 1}}{{ end }}
		</td>
		<td>
		{{ if and (gt ($scratch.Get "greeting") 90) (lt ($scratch.Get "greeting") 101)}}{{index (seq 100 | after 90| shuffle) 1}}{{ end }}
		{{ if and (gt ($scratch.Get "greeting") 80) (lt ($scratch.Get "greeting") 91)}}{{index (seq 95 | after 80| shuffle) 1}}{{ end }}
		{{ if and (gt ($scratch.Get "greeting") 70) (lt ($scratch.Get "greeting") 81)}}{{index (seq 85 | after 70 | shuffle) 1}}{{ end }}
		{{ if and (gt ($scratch.Get "greeting") 60) (lt ($scratch.Get "greeting") 71)}}{{index (seq 80 | after 60| shuffle) 1}}{{ end }}
		{{ if and (gt ($scratch.Get "greeting") 50) (lt ($scratch.Get "greeting") 61)}}{{index (seq 50 | after 70| shuffle) 1}}{{ end }}
		</td>
		<td>
		{{ if and (gt ($scratch.Get "greeting") 90) (lt ($scratch.Get "greeting") 101)}}{{index (seq 100 | after 90| shuffle) 1}}{{ end }}
		{{ if and (gt ($scratch.Get "greeting") 80) (lt ($scratch.Get "greeting") 91)}}{{index (seq 95 | after 80| shuffle) 1}}{{ end }}
		{{ if and (gt ($scratch.Get "greeting") 70) (lt ($scratch.Get "greeting") 81)}}{{index (seq 85 | after 70 | shuffle) 1}}{{ end }}
		{{ if and (gt ($scratch.Get "greeting") 60) (lt ($scratch.Get "greeting") 71)}}{{index (seq 80 | after 60| shuffle) 1}}{{ end }}
		{{ if and (gt ($scratch.Get "greeting") 50) (lt ($scratch.Get "greeting") 61)}}{{index (seq 50 | after 70| shuffle) 1}}{{ end }}
		</td>
		<td>
		{{ if and (gt ($scratch.Get "greeting") 90) (lt ($scratch.Get "greeting") 101)}}{{index (seq 100 | after 90| shuffle) 1}}{{ end }}
		{{ if and (gt ($scratch.Get "greeting") 80) (lt ($scratch.Get "greeting") 91)}}{{index (seq 95 | after 80| shuffle) 1}}{{ end }}
		{{ if and (gt ($scratch.Get "greeting") 70) (lt ($scratch.Get "greeting") 81)}}{{index (seq 85 | after 70 | shuffle) 1}}{{ end }}
		{{ if and (gt ($scratch.Get "greeting") 60) (lt ($scratch.Get "greeting") 71)}}{{index (seq 80 | after 60| shuffle) 1}}{{ end }}
		{{ if and (gt ($scratch.Get "greeting") 50) (lt ($scratch.Get "greeting") 61)}}{{index (seq 50 | after 70| shuffle) 1}}{{ end }}
		</td>
		<td>
		{{ if and (gt ($scratch.Get "greeting") 90) (lt ($scratch.Get "greeting") 101)}}{{index (seq 100 | after 90| shuffle) 1}}{{ end }}
		{{ if and (gt ($scratch.Get "greeting") 80) (lt ($scratch.Get "greeting") 91)}}{{index (seq 95 | after 80| shuffle) 1}}{{ end }}
		{{ if and (gt ($scratch.Get "greeting") 70) (lt ($scratch.Get "greeting") 81)}}{{index (seq 85 | after 70 | shuffle) 1}}{{ end }}
		{{ if and (gt ($scratch.Get "greeting") 60) (lt ($scratch.Get "greeting") 71)}}{{index (seq 80 | after 60| shuffle) 1}}{{ end }}
		{{ if and (gt ($scratch.Get "greeting") 50) (lt ($scratch.Get "greeting") 61)}}{{index (seq 50 | after 70| shuffle) 1}}{{ end }}
		</td>
	</tr> 
</table>
</div>

{{ $scoreSpinup := index (seq 30 100 | shuffle) 1 }}

{{ $scoreDemand :=  div $scoreSpinup 100.00 }}
{{ $scoreGauge := mul $scoreDemand 180.0 }}
<div>
<h4 class="mt-5 text-center">Popularity Trend<h4>
<h6 class="text-center">{{ .Title }}</h6>

<div class="row  mt-5">
	<div class="col-md-3"></div>
	<div class="col-xs-12 col-md-6">
<div class="gauge" style="width: 100%; --rotation:{{ $scoreGauge }}deg; --color:#3db8e4; --background:#e9ecef;">
      <div class="percentage"></div> 
      <div class="mask"></div>
      <h5 class="value">{{ $scoreSpinup }}</h5>
  </div>
</div>
</div>



</div>

<style>

	.gauge {
    position: relative;
    border-radius: 50%/100% 100% 0 0;
    background-color: var(--color, #a22);
    overflow: hidden;
}
.gauge:before{
    content: "";
    display: block;
    padding-top: 50%;   /* ratio of 2:1*/
}
.gauge .chart {
  overflow: hidden;
}
.gauge .mask {
  position: absolute;
  left: 20%;
  right: 20%;
  bottom: 0;
  top: 40%;
  background-color: #fff;
  border-radius: 50%/100% 100% 0 0;
}

.gauge .percentage {
    position:  absolute;
    top: -1px;
    left: -1px;
    bottom: 0;
    right: -1px;
    background-color: var(--background, #aaa);
    transform:rotate(var(--rotation)); 
    transform-origin: bottom center; 
    transition-duration: 600;
}
.gauge:hover {
  --rotation: 100deg;
}
.gauge .value {
  position:absolute; bottom:0%; left:0;   
  width:100%; 
  text-align: center;
}

.gauge .min {
  position:absolute; 
  bottom:0; left:5%;   
}
.gauge .max {
  position:absolute; 
  bottom:0; right:5%;   
 }


	.my-custom-scrollbar {
position: relative;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}

</style>

<h3>Overview</h3>

<p>The official name of this beach is {{ .Title }}.

<p>It is located in the area of {{ range .Params.tags | first 1 }}{{ . }}{{ end }}, and has some of the most beautiful beaches in Australia, in the region of {{ range .Params.categories | first 1 }}{{ . }}{{ end }}.</p>


beautiful, nude, topless, famous, surfing
how many beaches are in australia

<h3>Is {{.Title }} a top ranked beach in Australia?</h3>

<p>So, when it comes to comparing {{ .Title }} with the rest, is it in the
Top 10 beaches in Australia? Is it in the Top 20 beaches in Australia? Well, the best way to find out is to check our <a href="/rankings">Current Australia Best Beach Rankings</a> and see if {{ .Title}} makes the list of most beautiful beaches in Australia!</p>

<a href="/rankings" class="btn btn-primary">Best Beaches in Australia</a> 


<h3>Holiday in {{ .Title }}</h3>
<p>{{ range .Params.tags | first 1 }}{{ . }}{{ end }} is a place in {{ range .Params.categories }}<a href="/categories/{{ . | urlize }}/" class="">{{ . }}{{ end }}</a> that is very enjoyable to visit and provides a great environment for a holiday.
 						</p>

 <p>There have been no negative reports recieved from Locals, Tourists, Fishermen, Surfers, Swimmers or Campers at {{ .Title }}.	


<h5><strong>Camping in {{ .Title }}</strong></h5> 		

<p>If you intend on camping in {{ .Title }} it is best to see if a booking is required beforehand. When permitted, choosing to go free camping in {{ .Title }} is acceptable, but it is important you follow the local rules of {{ range .Params.tags | first 1 }}{{ . }}{{ end }}.
</p>

<p>Generally coastal areas in Australia like {{ .Title}} have a myriad of options for caravans, caravan parks, tents and campgrounds.</p>

<h5><strong>Fishing in {{ .Title }}</strong></h5> 		

<p>Many areas through Australia and particularly in {{ range .Params.tags | first 1 }}{{ . }}{{ end }} require a fishing licence to legally go fishing. If you want to go fishing in {{ .Title }} it is recommended that you obtain the adequate recreational fishing licence.</li>
</p>

<h5><strong>Swimming in {{ .Title }}</strong></h5> 		

<p>Througout Australia and in places such as {{ range .Params.tags | first 1 }}{{ . }}{{ end }}, swimming in the ocean and waterways can be extremly dangerous. When swimming in {{ .Title }}, please be mindful of rip currents, ocean conditions, big swells, drops offs, rocks and marine stingers and predators.
</p>

<p>Always swim between the flags in {{ .Title }} where available. <Strong>Never swim alone!</Strong></p>

<p>It is highly recommended you visit Beach Safe Australia before visiting {{ .Title }} to ensure you are prepared for the weather and tidal conditions.</p>

<h5><strong>Accomodation in {{ .Title }}</strong></h5> 

<p>Like many areas throughout Australia, beaches in areas like {{ range .Params.tags | first 1 }}{{ . }}{{ end }} can be quite remote. This means there may be limited accomadation options. If it does exist, accomodation deals in {{ .Title}} can be found online.</p>


				



<h3>Marine and Wildlife in {{ .Title }}</h3>

<p>Please note - many Australian speicies are protected, and {{ range .Params.categories | first 1 }}{{ . }}{{ end }} is no exception. Do not feed local wildlife and please be aware you are visiting their natural habitat around {{ range .Params.tags | first 1 }}{{ . }}{{ end }}.<p>

<p>Some common types of marine or wildlife you may find at {{ .Title }} may include:</p>

<p><Strong>Marine life in {{ .Title }}</Strong>: Sharks, Whales, Stingrays, Manta Rays, Turtles, Seals, Dolphins, Starfish, Jellyfish, Blue Bottles, Crabs.</p>

<p><Strong>Wildlife life in {{ .Title }}</Strong>: Kangaroos, Wallabies, Koalas, Kookaburras, Seagulls, Snakes, Lizards, Cockatoos, Possums. </p> 






{{ with index ((slice "foobar-1" "foobar-2" "foobar-3" "foobar-4" "foobar-5" "foobar-6" "foobar-7" "foobar-8" "foobar-9" "foobar-10" "foobar-11" "foobar-12" "foobar-13") | shuffle) 0 }}

  {{ if eq "foobar-1" . }}
    <blockquote>It was a great experience attending this beach.</blockquote>
  {{ end }}
  {{ if eq "foobar-2" . }}
    <blockquote>Loved volleyball at this beach!</blockquote>
  {{ end }}
  {{ if eq "foobar-3" . }}
    <blockquote>Had an amazing time as a surfing here.</blockquote>
  {{ end }}
  {{ if eq "foobar-4" . }}
    <blockquote>It is certainly an holiday I look back fondly on.</blockquote>
  {{ end }}
  {{ if eq "foobar-5" . }}
    <blockquote>Had a great marine wildlife experience.</blockquote>
  {{ end }}
  {{ if eq "foobar-6" . }}
    <blockquote>The surroundings are so inpiring.</blockquote>
  {{ end }}
  {{ if eq "foobar-7" . }}
    <blockquote>It was fantastic when I attended.</blockquote>
  {{ end }}
  {{ if eq "foobar-8" . }}
    <blockquote>Couldn't have asked for a better beach.</blockquote>
  {{ end }}
  {{ if eq "foobar-10" . }}
    <blockquote>Really glad I chose this beach.</blockquote>
  {{ end }}
  {{ if eq "foobar-11" . }}
    <blockquote>Beach delivers when is came to fishing.</blockquote>
  {{ end }}
   {{ if eq "foobar-12" . }}
    <blockquote>Never been happier than when camping near this place.</blockquote>
  {{ end }}
    {{ if eq "foobar-13" . }}
    <blockquote>Worth checking out. Quality beach.</blockquote>
  {{ end }}



{{ end }}
			 

 <h3>Surfing in {{ .Title }}</h3>

 <p>Experienced surfers will find {{ range .Params.categories | first 1 }}{{ . }}{{ end }} conditions vary from day to day. It is advised to always wear a wetsuit and never surf in {{ .Title }} alone.</p>		



 <h3>Boating in {{ .Title }}</h3>

 <p>Please enquire directly with {{ .Title }} or the office of {{ range .Params.tags | first 1 }}{{ . }}{{ end }} to obtain the rules around the prospect of boating in {{ .Title }}.</p>		



<h3>Other notes:</h3>

<p>There is no information available that confirms whether {{ .Title }} is one of the limited nude beaches in Australia. As a general rule, unless there is clear signage, you cannot assume a beach in {{ range .Params.categories | first 1 }}{{ . }}{{ end }} is one of the few permitted topless beaches in Australia.

<h3>Ready to visit {{ .Title }}?</h3>

<p>Visit our beach guide for the latest deals in {{ .Title }}. And have a fun trip!</p>
 					
 			
 					{{ .Content }}
 					<!-- THIS PUTS A SEE ALSO LINK AFTER EVERY 2nd H2 IN POST-->
 					{{ $var := .Params.seealsolinks }}
 					<div id="images" class="middleRelated">

 				{{ $related := .Site.RegularPages.RelatedIndices . "categories" | shuffle | first 3 }}
 				{{ with $related }}
 				{{ range . }}
 						<div class='col-xs-12 midArticle alert alert-light'>
 							<div class="">
 								<Strong><img src="/images/brandIcon.svg" height="30" width="30" alt="Brand Icon" class="brandIcon" /> See also:</strong> <a href="{{ .RelPermalink }}">{{ .Title }}</a>                
 								</div>
 							</div>
 							{{ end }}
 							{{ end }}
 						</div>
 					</div>
 					<br />
 					<hr />
 					<div class="row">
 						<div class="col-sm-12">
 							<span class="blogAuthor">Produced by beachinaustralia.com</a></span>
 						</div>
 						<div class="col-sm-12 socialsCol">
							<a href="#" class="btn btn-sm btn-primary facebook"><span><i class="fa fa-facebook"></i></span>Facebook</a>
	  						<a href="#" class="btn btn-sm btn-primary twitter"><span><i class="fa fa-twitter"></i></span>Twitter</a>
	  						<a href="#" class="btn btn-sm btn-primary linkedin"><span><i class="fa fa-linkedin"></i></span>Linkedin</a>
 					</div>
 					</div>

 					{{- partial "blog-list-text-2-horiz" . -}}

 					<h3>Search another rating:</h3>
 					{{- partial "search-form.html" . -}}
 				</div>
 			</div>
 			<div class="col-lg-4 articleRight">
 				<div class="col-sm-12">
 					{{- partial "callout-text-blog-right" . -}}
 					{{- partial "blog-list-text-vert" . -}}
 					{{- partial "blog-tags-right" . -}}
 					{{- partial "1-col-blog-thumb-hot" . -}}
 					<div id="sticky" class="d-none d-sm-block">
 						{{- partial "callout-text-blog-right-sticky" . -}}
 					</div>
 					<div class="extra">
 					</div>
 				</div>
 			</div>
 		</div>
 	</div>

<!-- 	{{- partial "callout-text-subscribe" . -}}-->

 	</div>
 	{{ end }}		

 	{{ end }}	
 	 